{% comment %} Assumption that we only support two cultures: EN and FR {% endcomment %}
{% for culture in Model.SupportedCultures %}
    {% if culture.Name != Model.CurrentCulture.Name %}
        {% capture targetCultureLongName %}{% if culture.Name contains 'fr' %}Français{% else %}English{% endif %}{% endcapture %}
        {% capture targetCultureUrl %}{{ culture.Name | switch_culture_url }}{% endcapture %}
        {% comment %} <a class="nav-item d-lg-none d-flex" href="{{targetCultureUrl}}" lang="{{culture.Name}}" aria-label="{{targetCultureLongName}}">{{targetCultureLongName}}</a> {% endcomment %}
        <a href="{{ targetCultureUrl }}" class="btn btn-primary is-circle language-toggle d-flex" lang="{{culture.Name}}" aria-label="{{targetCultureLongName}}" title="{{targetCultureLongName}}">{{ culture.Name }}</a>
    {% endif %}
{% endfor %}