<li>
    {% shape_clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {% if Model.HasItems %}
        <ul class="list-unstyled">
            <li>
                {% if Model.ContentItem.Content.LinkMenuItemPart.Url %}
                    <a class="h3 font-weight-bold text-uppercase" href="{{ Model.ContentItem.Content.LinkMenuItemPart.Url }}">
                        {{ Model.ContentItem.Content.LinkMenuItemPart.Name }}
                    </a>
                {% else %}
                    <span class="h3 font-weight-bold text-uppercase">
                        {{ Model.ContentItem.Content.LinkMenuItemPart.Name }}
                    </span>
                {% endif %}
            </li>
            {% for item in Model.Items %}
                {{ item | shape_render }}
            {% endfor %}
        </ul>
    {% else %}
        {{ Model | shape_render }}
    {% endif %}
</li>