{% layout "Layout__Login" %}
<h1 class="login">{{ Model.Title }}</h1>
<p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login">
    <div class="col-xl-5 col-lg-6 col-md-8 col-12">
        <section>
            <div class="mb-5">
                <h2 class="text-center">{{ Model.Subtitle }}</h2>
                {% if Model.Prompt %}
                <p class="text-secondary text-center mb-0">{{ Model.Prompt }}</p>
                {% endif %}
            </div>