<section id="footer-section">
  <div class="container py-3">
    <div class="row pb-5">
      <div class="col-12 d-flex align-items-end justify-content-center">
        <div aria-label="{{ 'Digital Innovation logo' | t }}" class="d-flex align-items-center">
          {{ "DigitalInnovationLogo" | shape_new | shape_render }}
          <div class="powered-by-di">{{ Model.ContentItem.Content.FatFooter.DigitalLink.Text }}</div>
        </div>
      </div>
    </div>
    <div class="light mono fip">
      {{ "SymbolStatisticsCanada" | shape_new | shape_render }}
      {{ "SymbolCanada" | shape_new | shape_render }}
    </div>
  </div>
</section>