<section id="footer-section">
  <div class="container py-3">
    <div class="row pb-5">
      {% if Model.ContentItem.Content.FatFooter.MenuAlias.Text != null %}
        {% assign menuAlias = "alias:" | append: Model.ContentItem.Content.FatFooter.MenuAlias.Text %}
        <div class="col-md-8 col-12">
          {% shape "menu", alias: menuAlias, cache_id: "footer", cache_fixed_duration: "00:00:01", cache_tag: menuAlias %}
        </div>
      {% endif %}
      <div class="{% if Model.ContentItem.Content.FatFooter.MenuAlias.Text != null %}col-md-4 col-12{% else %}col-12{% endif %} d-flex align-items-top justify-content-md-end justify-content-center">
        <a aria-label="{{ 'Digital Innovation logo' | t }}" class="d-flex flex-column align-items-center" href="{{ Model.ContentItem.Content.FatFooter.DigitalLink.Url }}">
          {{ "DigitalInnovationLogo" | shape_new | shape_render }}
          <span class="powered-by-di">{{ Model.ContentItem.Content.FatFooter.DigitalLink.Text }}</span>
        </a>
      </div>
    </div>
    <div class="light mono fip">
      {{ "SymbolStatisticsCanada" | shape_new | shape_render }}
      {{ "SymbolCanada" | shape_new | shape_render }}
    </div>
  </div>
</section>