@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{
  ThemeLayout.Metadata.Alternates.Add("Layout__Login");

  ViewData.ModelState.TryGetValue("UserIdentifier", out var userIdentifier);
}
<v-card class="px-4">
  <v-card-title>@T["Forgot password"]</v-card-title>
  <v-card-subtitle>@T["A recovery link will be sent to the email address tied to your account."]</v-card-subtitle>
  <v-card-text>
    <form id="form" asp-controller="ResetPassword" asp-action="ForgotPassword" method="post">
      <v-text-field id="UserIdentifier" name="UserIdentifier"
      label="@T["Enter your email or username to reset password."]" value="@userIdentifier?.AttemptedValue" error-messages="@(userIdentifier?.Errors.FirstOrDefault()?.ErrorMessage)"></v-text-field>
    </form>
  </v-card-text>
  <v-card-actions>
    @await RenderSectionAsync("AfterForgotPassword", required: false)
    <v-btn type="submit" form="form" x-large block color="success">@T["Send recovery email"]</v-btn>
  </v-card-actions>
</v-card>
