@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}
@* TODO *@
<h1 class="login">@T["Password reset complete"]</h1>
<div class="login">
  <section class="col-xl-5 col-lg-6 col-md-8 col-12">
    <div class="mb-5">
      <h2 class="text-center">@T["New password is set"]</h2>
      <p class="text-secondary text-center mb-0">@T["Give it try"]</p>
    </div>
    <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
        @T["Your password has been reset."]
        @T["Please "]<a asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login">@T["click here to log in"]</a>
    </div>
  </section>
</div>