@{
  ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}
<v-card class="px-4">
  <v-card-title>@T["Password reset complete"]</v-card-title>
  <v-card-subtitle>@T["New password is set"]</v-card-subtitle>
  <v-card-text>
    <v-icon x-large color="success">mdi-checkbox-marked-circle</v-icon>
    <span>@T["Your password has been reset."]</span>
  </v-card-text>
  <v-card-actions>
    <v-btn href="@Url.Content("~/")" x-large block color="success">@T["Home"]</v-btn>
  </v-card-actions>
</v-card>