@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}
<h1 class="login">@T["Reset password"]</h1>
<div class="login">
  <section class="col-xl-5 col-lg-6 col-md-8 col-12">
    <div class="mb-5">
      <h2 class="text-center">@T["Set a new password"]</h2>
    </div>
    <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
          <label asp-for="Email" class="control-label asterix">@T["Email"]</label>
          <input class="form-control" asp-for="Email" aria-describedby="Email-described-by"  />
          <span id="Email-described-by" asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="row">
          <div class="col-6">
            <div class="form-group">
                <label asp-for="NewPassword" class="asterix control-label">@T["New password"]</label>
                <input asp-for="NewPassword" class="form-control" aria-describedby="NewPassword-described-by" />
                <div id="NewPassword-described-by" >
                  <span asp-validation-for="NewPassword" class="text-danger"></span>
                  <small class="form-text text-muted">@T["Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, a number and a special character"]</small>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="asterix control-label">@T["New password confirmation"]</label>
                <input asp-for="PasswordConfirmation" class="form-control" aria-describedby="PasswordConfirmation-described-by" />
                <span id="PasswordConfirmation-described-by" asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
          </div>
          <div class="col-6 d-flex align-items-center">
            <small class="form-text text-secondary">@Html.Raw(T["Passwords must have:<br>• 8 characters or more<br>• an uppercase letter<br>• a lowercase letter<br>• a number<br>• a special character"])</small>
          </div>
        </div>
      @await RenderSectionAsync("AfterResetPassword", required: false)
      <input asp-for="ResetToken" type="hidden" />
      <div class="form-group d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-lg btn-primary is-rounded">@T["Reset password"]</button>
      </div>
    </form>
  </section>
</div>