{% capture translations %}
{% if Culture.Name == "en" %}
{
"Create":"Create a new challenge", 
"Edit":"Edit", 
"Url": "~/challenge-submission/submission"
}
{% else %}
{
"Create":"Créer un nouveau défi", 
"Edit":"Modifier",
"Url": "~/votre-defi/soumission"
}
{% endif %}
{% endcapture %}
{% assign translationJson = translations | jsonparse %}

{% assign userId = User | user_id %}
{% assign challenges = Queries.GetChallengeSubmissionsForOwner | query: owner: userId  %}
<v-row justify="center">
  <v-col cols="8">
    <form  action="{{"~/challenge-submission/submission" | href}}">
      <v-btn type="submit" color="success" depressed block>{{translationJson.Create}}</v-btn>
    </form>
  </v-col>
  {% for challenge in challenges %}
  	{% if challenge.Published == false %}
    <v-col cols="8">
      <v-card outlined>
        <v-card-title>
          {{ challenge.ContentItem.Content.Challenge.Title.Text | shortcode }} 
        </v-card-title>
        <v-card-text>
          <v-col>
 		    {{ challenge.ContentItem.Content.Challenge.Statement.Text | shortcode }}
          </v-col>
          <v-col>
            {{ challenge.ContentItem.Content.Challenge.BackgroundInformation.Text | shortcode }}
          </v-col>
          <v-col>
            {{ challenge.ContentItem.Content.Challenge.Datasets.Text | shortcode }}
          </v-col>
          <v-col>
		  	<v-row>
              <form action="{{translationJson.Url | href}}" method="get">
              	<v-btn type="submit" color="primary" depressed>{{translationJson.Edit}}</v-btn>
                <input type="hidden" name="id" value="{{challenge.ContentItemVersionId}}">
              </form>
		  	</v-row>
          </v-col>
        </v-card-text>
      </v-card>
    </v-col>
  	{% endif %}
  {% endfor %}
</v-row>
