{% assign userId = User | user_id %}
{% assign challenges = Queries.GetChallengeSubmissionsForOwner | query: owner: userId  %}

<v-row justify="center">
  <v-col cols="8">
    <form  action="{{"~/challenge-submission/submission" | href}}">
      <v-btn type="submit" color="success" depressed block>{{ "Create a new challenge" | t }}</v-btn>
    </form>
  </v-col>
  {% for challenge in challenges %}
  	{% if challenge.Published == false %}
    <v-col cols="8">
      <v-card outlined>
        <v-card-title>
          {{ challenge.ContentItem.Content.Challenge.Title.Text | shortcode }} 
          {% if challenge.ContentItem.Content.Challenge.BackgroundInformation.Text == blank or
            challenge.ContentItem.Content.Challenge.ContactPersonName.Text == blank or
            challenge.ContentItem.Content.Challenge.ContactPersonEmail.Text == blank or
            challenge.ContentItem.Content.Challenge.TechnicalMentorName.Text == blank or
            challenge.ContentItem.Content.Challenge.TechnicalMentorEmail.Text == blank or
            challenge.ContentItem.Content.Challenge.CaseSpecialistName.Text == blank or
            challenge.ContentItem.Content.Challenge.CaseSpecialistEmail.Text == blank or
            challenge.ContentItem.Content.Challenge.Statement.Text == blank or
            challenge.ContentItem.Content.Challenge.Datasets.Text == blank or
            challenge.ContentItem.Content.Challenge.OrganizationNameEn.Text == blank or
            challenge.ContentItem.Content.Challenge.OrganizationAcronymEn.Text == blank or
            challenge.ContentItem.Content.Challenge.Keywords.Text == blank
          %}
            <v-chip class="ma-2" color="red" label outlined>{{ "Incomplete" | t }}</v-chip>
          {% else %}
            <v-chip class="ma-2" color="green" label outlined>{{ "Complete" | t }}</v-chip>
          {% endif %}
        </v-card-title>
        <v-card-text>
          <v-col>
 		    {{ challenge.ContentItem.Content.Challenge.Statement.Text | shortcode }}
          </v-col>
          <v-col>
            {{ challenge.ContentItem.Content.Challenge.BackgroundInformation.Text | shortcode }}
          </v-col>
          <v-col>
            {{ challenge.ContentItem.Content.Challenge.Datasets.Text | shortcode }}
          </v-col>
          <v-col>
		  	<v-row>
              <form action="{% if Culture.Name == "en" %}{{ "~/challenge-submission/submission" | href}}{% else %}{{ "~/votre-defi/soumission" | href}}{% endif %}" method="get">
              	<v-btn type="submit" color="primary" depressed>{{ "Edit" | t }}</v-btn>
                <input type="hidden" name="id" value="{{challenge.ContentItemVersionId}}">
              </form>
		  	</v-row>
          </v-col>
        </v-card-text>
      </v-card>
    </v-col>
  	{% endif %}
  {% endfor %}
</v-row>
