{% assign data = Model.Data %}
{% assign json = Model.Json %}
{% assign colour = Model.Colour %}

<div id="client" class="pb-8 ">

    <div id="description" class="flex flex-col px-3 pb-2 ">
        <div class= "font-semibold text-gray-700">Description: {{json.canvas.type}}</div>
        <div class="text-gray-700">Author: {{json.canvas.author}} </div>
        <div class= "text-gray-700">Date: {{json.canvas.date}}</div>
    </div>

    <div class="flex flex-col w-full items-center ">
         <!-- Wide Row -->
         <div class="py-2 pr-2 flex flex-row w-full h-64">

            <!-- Stakeholders-->
            <div class="pl-3 pr-2 pt-0 mb-6 flex flex-row items-center w-1/2 h-full">
                <div style="background-color: {{colour}}" class="h-full w-28 rounded-l-lg flex items-center justify-center text-2xl font-semibold flex-col" >
                    <div class="items-center justify-center text-2xl font-semibold text-gray-200 transform -rotate-90">{{json.stakeholder[0].title}} </div>
                    
                </div>
                <div class="w-70 h-full w-full border-r-2 border-t-2 border-b-2 shadow-md rounded-r-lg overflow-scroll pl-3 py-3">
                    {% for text in json.stakeholder[0].text %}
                    <ul class="list-disc px-3 text-sm">
                        <li class="text-sm">
                            {{ text }}
                        </li>
                        <ul class="list-disc px-3 text-sm">
                            {% for subtext in text.subtext %}
                                <li class="text-sm">
                                    {{ subtext }}
                            {% endfor %}
                            </li>
                        </ul>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <!-- Goals and Expectations -->
            <div class="flex flex-row items-center w-1/2 h-full"> 
                <div style="background-color: {{colour}}" class="h-full w-28 rounded-l-lg flex items-center justify-center text-2xl font-semibold flex-col" >
                    <div class="items-center justify-center text-center text-2xl font-semibold text-gray-200 transform -rotate-90">{{json.goal[0].title}} </div>
                    
                </div>
                <div class="w-70 h-full w-full border-r-2 border-t-2 border-b-2 shadow-md rounded-r-lg overflow-scroll pl-3 py-3">
                    {% for text in json.goal[0].text %}
                    <ul class="list-disc px-3 text-sm">
                        <li class="text-sm">
                            {{ text }}
                        </li>
                        <ul class="list-disc px-3 text-sm">
                            {% for subtext in text.subtext %}
                                <li class="text-sm">
                                    {{ subtext }}
                            {% endfor %}
                            </li>
                        </ul>
                    </ul>
                    {% endfor %}
                </div>
            </div>

        </div>

            <div class="p-2 flex flex-row w-full  ">
                {% for text in json.moments %}
                    <div class="p-2 w-2/6  md:mb-0 mb-6 flex flex-col items-center h-full">
                        <div style="background-color: {{colour}}" class="h-24 w-1/6 text-gray-200 w-full rounded-t-lg flex justify-center items-center  text-center text-2xl font-semibold flex-col ">{{text.title}}</div>
                        <div class=" h-96 w-full  shadow-md border-r-2 border-l-2  px-2 pt-3 pb-2 text-gray-700 rounded-t-none overflow-scroll text-sm ">{{text.text}}</div>
                        <div style="background-color: {{colour}}" class=" -mt-2 text-gray-200 w-7/12 flex h-10 rounded-lg items-center justify-center text-xl font-semibold flex-col">Opportunity</div>
                        <div class="-mt-8 h-48 w-full border-r-2 border-l-2 border-b-2 rounded-b-lg px-3 pt-5 pb-2 text-sm text-gray-700 rounded-t-none overflow-scroll">{{text.opportunity[0].text}}</div>
                    </div>
                {% endfor %}
            </div>
        
    </div>
</div>

