@model OrchardCore.Users.ViewModels.ChangePasswordViewModel

@{
    ViewLayout = "Layout__Login";

    ViewData.ModelState.TryGetValue("CurrentPassword", out var currentPassword);
    ViewData.ModelState.TryGetValue("Password", out var password);
    ViewData.ModelState.TryGetValue("PasswordConfirmation", out var passwordConfirmation);
}
<v-card class="px-4">
  <v-card-title>@T["Change password"]</v-card-title>
  <v-card-text>
    <form id="form" asp-controller="Account" asp-action="ChangePassword"
    asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
      @if (ViewData.ModelState.ErrorCount > 0)
      {
        <v-alert color="red" type="error">
          @foreach (var error in ViewData.ModelState.SelectMany(x => x.Value.Errors).Reverse())
          {
            <span>@error.ErrorMessage</span>
          }
        </v-alert>
      }
      <v-row>
        <v-col cols="12">
          <v-text-field id="CurrentPassword" type="password" name="CurrentPassword" label="@T["Current password"]" value="@currentPassword?.AttemptedValue" error-messages="@(currentPassword?.Errors.FirstOrDefault()?.ErrorMessage)"></v-text-field>
          <v-text-field id="Password" type="password" name="Password" label="@T["New password"]" value="@password?.AttemptedValue" error-messages="@(password?.Errors.FirstOrDefault()?.ErrorMessage)"></v-text-field>
          <v-text-field id="PasswordConfirmation" type="password" name="PasswordConfirmation" label="@T["New password confirmation"]" value="@passwordConfirmation?.AttemptedValue" error-messages="@(passwordConfirmation?.Errors.FirstOrDefault()?.ErrorMessage)"></v-text-field>
        </v-col>
      </v-row>
    </form>
  </v-card-text>
  <v-card-actions>
    <v-btn type="submit" form="form" x-large block color="success">@T["Change password"]</v-btn>
  </v-card-actions>
</v-card>