{% comment %} Assumption that we only support two cultures: EN and FR {% endcomment %}
{% for culture in Model.SupportedCultures %}
    {% if culture.Name != Model.CurrentCulture.Name %}
        {% capture targetCultureName %}
            {{ culture.Name }}
        {% endcapture %}
        {% capture targetCultureUrl %}
            {{ culture | switch_culture_url}}
        {% endcapture %}
    {% endif %}
{% endfor %} 

<nav>
    <div class="d-block d-md-none">
        <div class="nav-item dropdown">
            <a class="btn btn-primary is-circle" href="#" id="oc-culture-picker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="oc-culture-picker">
                {% for culture in Model.SupportedCultures %}
                    {% if culture.Name != Model.CurrentCulture.Name %}
                    <a class="dropdown-item d-block d-md-none" href="{{ culture.Name | switch_culture_url }}">{{culture.DisplayName}}</a>
                    {% endif %}
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login">Login</a>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block">
        {% if User.Identity.IsAuthenticated %}
        <a class="btn btn-primary is-circle"><i class="fas fa-user"></i></a>
        {% else %}
        <a href="login" class="btn btn-primary is-circle"><i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
        <a href="{{ targetCultureUrl }}" class="btn btn-primary is-circle">{{ targetCultureName }}</a>
    </div>
</nav>




