<div class="d-flex flex-column flex-fill">
    <div class="entity-header pt-5">
        <div class="container">
            <div class="row w-75 justify-content-between">
                <div class="entity-title">
                    <h1 class="h2">{{ Model.ContentItem | display_text }}</h1>
                    <p>{{ Model.ContentItem.Content.Experiment.Description.Text }}</p>
                    <div class="metadata row">
                        <div class="col-lg-4 col-6">
                            {% if Model.ContentItem.Published %}
                                <span class="h5"><i class="fas fa-cloud"></i> {{ "Published" | t }}</span>
                            {% else %}
                                <span class="h5"><i class="fas fa-cloud"></i> {{ "Draft" | t }}</span>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-6">
                            <span class="h5"><i class="fas fa-user-tie"></i> {{ Model.ContentItem.Owner }}</span>
                        </div>
                        <div class="col-lg-4 col-6">
                            <span class="h5"><i class="fas fa-sync-alt"></i> {{ Model.ContentItem.ModifiedUtc | date: "%b %d, %Y" }}</span>
                        </div>
                        <div class="col-lg-4 col-6">
                        {% if Model.ContentItem.Content.Experiment.Visibility.Text == "STC" %}
                            <span class="h5"><i class="fas fa-eye-slash"></i> {{ "StatCan-Only" | t }}</span>
                        {% else %}
                            <span class="h5"><i class="fas fa-eye"></i> {{ "All GoC" | t }}</span>
                        {% endif %}
                        </div>
                        
                    </div>
                    <div class="d-flex py-2">
                        {% assign topics = Model.ContentItem.Content.Experiment.Topics.ContentItemIds | content_item_id %}
                        {% for topic in topics %}
                            <div class="mr-2">{{ topic | shape_build_display: 'Summary' | clone_properties: Model | shape_render  }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-flex py-2">
                        {% assign technologies = Model.ContentItem.Content.Experiment.Technologies.ContentItemIds | content_item_id %}
                        {% for technology in technologies %}
                            <div class="mr-2">{{ technology | shape_build_display: 'Summary' | clone_properties: Model | shape_render  }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="entity-body">
        <div class="container">
        meow
        </div>
    </div>
</div>
