{% assign contentitems = Queries.GetAllOfType | query: type: Model.ContentItem.Content.EntityPage.ContentType.Text %}

<div class="d-flex flex-column flex-fill">
    <div class="entity-header">
        <div class="container">
            <div class="row flex-nowrap justify-content-between">
                <div class="entity-title d-flex align-items-center">
                    <h1>{{ Model.ContentItem | display_text }}</h1>
                    <div class="entity-count-bubble">{{ contentitems | size }}</div>
                </div>
                <div class="d-md-block d-none">
                    <span class="icon" aria-hidden="true">
                        <i class="{{ Model.ContentItem.Content.EntityPage.Icon.Text }}"></i>
                    <span>
                </div>
            </div>
            <div id="table-toolbar"></div>
        </div>
    </div>
    <div class="entity-body py-4">
        <div class="container">
            <table id="table" data-toggle="table" data-search="true" data-show-search-clear-button="true" data-show-export="true" data-buttons-toolbar="#table-toolbar" data-buttons-class="secondary" data-search-align="left" url="{{ '~/api/queries/GetLatestOfType' | href }}" data-method="post" data-classes="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th data-field="name" data-title="{{ 'Name' | t }}" data-sortable="true" scope="col"></th>
                        <th data-field="updated" data-title="{{ 'Updated' | t }}" data-align="center" data-sortable="true" scope="col"></th>
                        {% if Model.ContentItem.Content.EntityPage.ContentType.Text == "Experiment" %}
                            <th data-field="visibility" data-title="{{ 'Visibility' | t }}" data-align="center" data-sortable="true" scope="col"></th>
                        {% endif %}
                        <th data-field="created"  data-title="{{ 'Created' | t }}" data-align="center" data-sortable="true" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contentitem in contentitems %}
                        <tr>
                            <td scope="row">
                                <span class="d-none">{{ contentitem | display_text }}</span>
                                <a href="{{ '~/Contents/ContentItems/' | append: contentitem.ContentItemId | href }}">
                                    {{ contentitem | display_text }}
                                </a>
                            </td>
                            <td scope="row">
                                <span class="d-none">{{ contentitem.ModifiedUtc }}</span>
                                <a href="{{ '~/Contents/ContentItems/' | append: contentitem.ContentItemId | href }}">
                                    {{ contentitem.ModifiedUtc | date: "%b %d, %Y" }}
                                </a>
                            </td>
                            {% if Model.ContentItem.Content.EntityPage.ContentType.Text == "Experiment" %}
                                <td scope="row">
                                    <span class="d-none">{{ contentitem.Content.Experiment.Visibility.Text }}</span>
                                    <a href="{{ '~/Contents/ContentItems/' | append: contentitem.ContentItemId | href }}">
                                        {{ contentitem.Content.Experiment.Visibility.Text }}
                                    </a>
                                </td>
                            {% endif %}
                            <td scope="row">
                                <span class="d-none">{{ contentitem.CreatedUtc }}</span>
                                <a href="{{ '~/Contents/ContentItems/' | append: contentitem.ContentItemId | href }}">
                                    {{ contentitem.CreatedUtc | date: "%b %d, %Y" }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% comment %} <div class="table table-hover d-flex flex-column">
                <div class="">
                    <div class="row">
                        <div class="table-header col-6">Name</div>
                        <div class="table-header col-3">Updated</div>
                        <div class="table-header col-3">Created</div>
                    </div>
                </div>
                <div class="table-body">
                    {% for contentitem in contentitems %}
                        <a href="{{ '~/Contents/ContentItems/' | append: contentitem.ContentItemId | href }}">
                            <div class="table-row row">
                                <div class="table-data col-6">
                                    {{ contentitem | display_text }}
                                </div>
                                <div class="table-data col-3">
                                    {{ contentitem.ModifiedUtc | date: "%b %d, %Y" }}
                                </div>
                                <div class="table-data col-3">
                                    {{ contentitem.CreatedUtc | date: "%b %d, %Y" }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>


