{% comment %} Assumption that we only support two cultures: EN and FR {% endcomment %}
{% for culture in Model.SupportedCultures %}
    {% if culture.Name != Model.CurrentCulture.Name %}
        {% capture targetCultureName %}
            {{ culture.Name }}
        {% endcapture %}
        {% capture targetCultureUrl %}
            {{ culture | switch_culture_url}}
        {% endcapture %}
    {% endif %}
{% endfor %} 

<nav>
    <div class="nav-buttons d-block d-md-none">
        <div class="nav-item dropdown">
            <a class="btn btn-primary is-circle" href="#" id="oc-culture-picker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="oc-culture-picker">
                {% for culture in Model.SupportedCultures %}
                    {% if culture.Name != Model.CurrentCulture.Name %}
                    <a class="dropdown-item d-block d-md-none" href="{{ culture.Name | switch_culture_url }}">{{culture.DisplayName}}</a>
                    {% endif %}
                {% endfor %}
                <div class="dropdown-divider"></div>
                {% if User.Identity.IsAuthenticated %}
                    {% form asp_route_area:"OrchardCore.Users", asp_controller:"Account",asp_action:"LogOff", method: "post" %}
                        <button type="submit" class="dropdown-item">Logout</button>
                    {% endform %}
                {% else %}
                <a class="dropdown-item" href="{{ '~/login' | href }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="nav-buttons d-none d-md-block">
        {% if User.Identity.IsAuthenticated %}
            {% form asp_route_area:"OrchardCore.Users", asp_controller:"Account",asp_action:"LogOff", method: "post" %}
                <button type="submit" class="btn btn-primary is-circle"><i class="fas fa-user"></i></button>
            {% endform %}
        {% else %}
        <a href="{{ '~/login' | href }}" class="btn btn-primary is-circle"><i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
        <a href="{{ targetCultureUrl }}" class="btn btn-primary is-circle language-toggle">{{ targetCultureName }}</a>
    </div>
</nav>




