<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% render_section "HeadMeta", required: false %}
    <title>{% page_title Site.SiteName %}</title>
    {% resources type: "Meta" %}

    <!-- Customized Bootstrap CSS -->
    {% style name:"portaltheme-stc-bootstrap", version:"1" %}
    <!-- Custom fonts for this template -->
    {% style src:"https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap" %}
    {% style name:"portaltheme-vendor-font-awesome", version:"5" %}
    <!-- Bootstrap core JavaScript (includes jQuery and popper.js) -->
    {% script name:"portaltheme-vendor-bootstrap", at:"Foot" %}
    
    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}

</head>
<body id="page-top" dir="{{ Culture.Dir }}">
  <main id="bootstrap-main">
    <section class="hero is-fullheight">
      <div class="container">
        <div class="flex-fill">
          {% render_section "Content" %}
        </div>
        <div class="hero-footer">
            <img class="sig-wht" alt="{{ 'Statistics Canada' | t }}"  src="{{ 'sig-wht-eng.svg' | asset_url }}" />
            <div class="fip-spacer"></div>
            <img class="canada" alt="{{ 'Government of Canada' | t }}" src="{{ 'Canada.svg' | asset_url }}" />
        </div> 
      </div>
    </section>
  </main>
  {% render_section "Footer", required: false %}
  {% resources type: "FootScript" %}
</body>
</html>
