<section class="hero is-fullheight portal-hud">
  <div class="container">
  	<header class="hero-header">
  	  {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_fixed_duration: "00:00:01", cache_tag: "alias:main-menu" %}
    </header>
    <div class="hero-body justify-content-center align-items-center">
      <i class="icon {{ Model.ContentItem.Content.Hero.Icon.Text }}"></i>
      <h1>{{  Model.ContentItem.Content.Hero.Title.Text }}</h1>
      <p class="h3 m-2">{{  Model.ContentItem.Content.Hero.Subtitle.Text }}</p>
      <nav class="navbar navbar-expand-lg" role="navigation">
        <ul class="navbar-nav mr-auto">
          {% if User.Identity.IsAuthenticated and Model.ContentItem | user_can_view %}
            {% for item in Model.ContentItem.Content.Links.ContentItems %}
              <li class="nav-item m-2">
                {{ item | shape_build_display | shape_render }}
              </li>
            {% endfor %}
          {% else %}
            {% unless User.Identity.IsAuthenticated %}
            <a href="{{ '~/login' | href }}" class="btn btn-lg btn-primary is-rounded nav-link mt-5">{{ "Log in" | t }}</a>
            {% endunless %}
          {% endif %}
        </ul>
      </nav>
      <div role="i" class="d-block d-md-none h2 mt-4" aria-label="{{ 'Down arrow' | t }}">
        <svg id="down-arrow" enable-background="new 0 0 551.13 551.13" height="32" viewBox="0 0 551.13 551.13" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m275.565 361.679-223.897-223.896h-51.668l275.565 275.565 275.565-275.565h-51.668z"/></svg>
      </div>
    </div>
    <footer class="hero-footer dark fip">
      {{ "SymbolStatisticsCanada" | shape_new | shape_render }}
      <div class="fip-spacer"></div>
      {{ "SymbolCanada" | shape_new | shape_render }}
    </footer> 
  </div>
</section>