<section class="hero is-fullheight portal-hud">
  <div class="container">
  	<header class="hero-header">
  	  {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_fixed_duration: "00:00:01", cache_tag: "alias:main-menu" %}
    </header>
    <div class="hero-body justify-content-center align-items-center">
      <i class="icon {{ Model.ContentItem.Content.Hero.Icon.Text }}"></i>
      <h1>{{  Model.ContentItem.Content.Hero.Title.Text }}</h1>
      <p class="h3 m-2">{{  Model.ContentItem.Content.Hero.Subtitle.Text }}</p>
      <nav class="navbar navbar-expand-lg" role="navigation">
        <ul class="navbar-nav mr-auto">
          {% if User.Identity.IsAuthenticated and Model.ContentItem | user_can_view %}
            {% for item in Model.ContentItem.Content.Links.ContentItems %}
            <li class="nav-item m-2">
              {{ item | shape_build_display | shape_render }}
            </li>
            {% endfor %}
          {% else %}
            {% unless User.Identity.IsAuthenticated %}
            <a href="{{ '~/login' | href }}" class="btn btn-lg btn-primary is-rounded nav-link">Login</a>
            {% endunless %}
          {% endif %}
        </ul>
      </nav>
      <span class="text-secondary d-block d-md-none h2 mt-4"><i class="fas fa-chevron-down"></i></span>
    </div>
    <footer class="hero-footer">
        <img class="sig-wht" alt="{{ 'Statistics Canada' | t }}" src="{{ 'sig-wht-eng.svg' | asset_url }}" />
        <div class="fip-spacer"></div>
        <img class="canada" alt="{{ 'Government of Canada' | t }}" src="{{ 'Canada.svg' | asset_url }}" />
    </footer> 
  </div>
</section>