{% if Model.ContentItem | user_can_view %}
<article id="{{ Model.ContentItem | display_text | slugify }}" class="{{ Model.ContentItem.Content.SectionPanel.Size.Text }} my-3">
  <div class="section-panel d-flex flex-column align-items-center">
    <i class="m-2 fa-3x {{ Model.ContentItem.Content.SectionPanel.Icon.Text }}"></i>
    <h2 class="text-center">{{ Model.ContentItem.Content.SectionPanel.Title.Text }}</h2>
    <p class="text-center mb-5">{{ Model.ContentItem.Content.SectionPanel.Description.Text }}</p>
    <nav>
      <ul class="{{ Model.ContentItem.Content.SectionPanel.ListDirection.Text }} justify-content-between">
      {% for item in Model.ContentItem.Content.Links.ContentItems %}
        <li class="d-flex {% if Model.ContentItem.Content.SectionPanel.ListDirection.Text == 'is-vertical-list' %}d-block{% else %}col-4{% endif %}">
          <a href="{{ item.SectionPanelLink.Url.Text }}" target="_blank">
            <div class="section-panel-link">
              <div class="section-panel-link-icon text-primary">
                {% if item.SectionPanelLink.Image.Paths.first != null %}
                <img src="{{ item.SectionPanelLink.Image.Paths.first | asset_url }}" aria-hidden="true" />
                {% else %}
                <i class="fa-2x {{ item.SectionPanelLink.Icon.Text }}"></i>
                {% endif %}
              </div>
              <div>
                <h3>{{ item.SectionPanelLink.Name.Text }}</h3>
                <p class="text-secondary">{{ item.SectionPanelLink.Description.Text }}</p>
              </div>
            </div>
          </a>
          {% if item.Actions.ContentItems != null %}
          <div class="nav-item dropdown">
            <a class="btn btn-sm btn-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% for action in item.Actions.ContentItems %}
                {% if action.LinkMenuItemPart.Name == "Request a Kubeflow namespace" %}
                  <button class="dropdown-item" data-toggle="modal" data-target="#bonus-action-modal">{{ "Request a Kubeflow namespace" | t }}</button>
                {% else %}
                  <a class="dropdown-item" href="{{ action.LinkMenuItemPart.Url }}" target="_blank">{{ action.LinkMenuItemPart.Name }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</article>
{% endif %}

<!-- Action Modal -->
<div id="bonus-action-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered profile" role="document">
    <form class="modal-content section-panel profile" action="{{ '~/workflows/Invoke?token=CfDJ8Ap2crNbaMNNvxt9cWvhLfeiBdc8wQ700SR-all7grDbQ_zu8hti-lhHD_EuZ5tbxdn57n4LkuyFAPlFKXHj9pANkRS39q5AA7gBKHUoqk4unsQOS0rD13brGE01uuFkez0lDjIKrHBSUmGpeq3LZQWy1PKD2Je0Jlax29tTM9npWLgUv4xxp2oLcnT_WiIlB-c2DX3iAi3e7ikVUltK08EM2XBIFh1WNJrydLjAGmvj' | href }}" method="POST">
      <div class="modal-header profile">
        <h2 class="h2 modal-title">{{ "Request a Kubeflow namespace" | t }}</h2>
        <button type="button" class="btn btn-primary is-circle" data-dismiss="modal" aria-label="{{ 'Close' | t }}">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body profile flex-column align-items-center justifyc-content-center text-center">
       
        <div class="col-lg-4 col-md-6 col-sm-8 col-12 form-group d-flex flex-column align-items-center justify-content-center py-2">
          <label class="asterix">{{ "Namespace name" | t }}</label>
          <input name="Namespace" class="form-control" aria-describedby="Namespace-described-by" />
          <span id="Namespace-described-by" class="text-danger"></span>
        </div>

        <p class="text-secondary">An admin will follow up with you at {{ User | get_claim: 'email' }} with questions or updates.</p>

        <input name="User" type="hidden" value="{{ User.Identity.Name }}" />
        <input name="Email" type="hidden" value="{{ User | get_claim: 'email' }}" />
      </div>
      <div class="modal-footer profile">
        <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Send request" | t }}</button>
      </div>
    </form>
  </div>
</div>