<section id="footer-section">
  <div class="d-flex justify-content-center">
    <a href="https://digital.statcan.gc.ca" class="btn btn-sm btn-primary is-rounded">{{ "More Virtual Labs" | t }}</a>
  </div>
  <div class="text-center pb-5">
    <div class="powered-by-di" >{{ "digital@statcan" | t }}</div>
    <div aria-label="{{ 'Digital Innovation logo' | t }}">
      {{ "DigitalInnovationLogo" | shape_new | shape_render }}
    </div>
  </div>
  <div class="container pt-5">
    <div class="fip-footer dark fip">
      {{ "SymbolStatisticsCanada" | shape_new | shape_render }}
      {{ "SymbolCanada" | shape_new | shape_render }}
    </div>
  </div>  
</section>