<section id="footer-section">
  <div class="d-flex justify-content-center">
    <a href="https://digital.statcan.gc.ca" class="btn btn-sm btn-primary is-rounded">{{ "More Virtual Labs" | t }}</a>
  </div>
  <div class="text-center pb-5">
    <div class="powered-by-di" >{{ "Powered by" | t }}</div>
    <img src="{{ 'DI Logo.svg' | asset_url }}" alt="{{ 'Powered by Digital Innovation' | t }}" />
  </div>
  <div class="container pt-5">
    <div class="d-flex align-items-end justify-content-between">
      <img class="sig-wht" alt="{{ 'Statistics Canada' | t }}" aria-label="{{ 'Statistics Canada' | t }}"  src="{{ 'sig-wht-eng.svg' | asset_url }}" />
      <img class="canada" alt="{{ 'Government of Canada' | t }}" aria-label="{{ 'Government of Canada' | t }}" src="{{ 'Canada.svg' | asset_url }}" />
    </div>
  </div>  
</section>