{% layout "Layout__Login" %}
<h1 class="login">{{ "Password changed" | t }}</h1>
<p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login">
    <p>{{ "Your password has been changed successfully." | t }}</p>
</div>
