{% assign title = "Change password" | t %}
{{ "SharedLoginHeader" | shape_new | shape_properties: title: title | shape_render }}
{% form asp_controller:"Account", asp_action:"ChangePassword", method:"post" %}
    <div class="form-group">
        {% block "label", asp_for:"CurrentPassword", class:"asterix control-label" %}{{ "Current password" | t }}{% endblock %}
        {% helper "input", asp_for:"CurrentPassword", class:"form-control", aria_describedby:"CurrentPassword-described-by" %}
        {% helper "span", id:"CurrentPassword-described-by", asp_validation_for:"CurrentPassword", class:"text-danger" %}
    </div>
    <div class="form-group">
        {% block "label", asp_for:"Password", class:"asterix control-label" %}{{ "New password" | t }}{% endblock %}
        {% helper "input", asp_for:"Password", class:"form-control", aria_describedby:"Password-described-by" %}
        <div id="passwordStrength"></div>
        {% helper "span", id:"Password-described-by", asp_validation_for:"Password", class:"text-danger" %}
    </div>
    <div class="form-group">
        {% block "label", asp_for:"PasswordConfirmation", class:"asterix control-label" %}{{ "New password confirmation" | t }}{% endblock %}
        {% helper "input", asp_for:"PasswordConfirmation", class:"form-control", aria_describedby:"PasswordConfirmation-described-by" %}
        {% helper "span", id:"PasswordConfirmation-described-by", asp_validation_for:"PasswordConfirmation", class:"text-danger" %}
    </div>
    <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Change password" | t }}</button>
    </div>
{% endform %}
{{ "SharedLoginFooter" | shape_new | shape_render }}
