{% assign challenges = Queries.GetItemsForHackathon | query: type: "Challenge" %}
{% assign teamMembers = Queries.GetHackersForTeam | query: teamContentItemId: Model.ContentItem.ContentItemId %}
{% assign teamCaptain = Model.ContentItem.Content.Team.TeamCaptain.ContentItemIds | content_item_id | first %}
{% assign challengeSelected =  Model.ContentItem.Content.Team.Challenge.ContentItemIds | content_item_id %}

{% capture challengeObjects %}
[
  {% for challenge in challenges %}
    {% if challenge.Published == true %}
      {
        text: "{{challenge.DisplayText}}",
        value: "{{challenge.ContentItemId}}"
      }
      {% if forloop.last != true %}
      ,
      {% endif %}
    {% endif %}
  {%endfor%}
]
{% endcapture %}

<team-component></team-component>


{% block "script", At: "Foot", depends_on:"vuejs" %}
Vue.component("team-component", {
  template:  "#TeamComponent",
  data: function () { 
    return {
      challenges: {{challengeObjects}}
    };
  }
});
{% endblock %}

{% block "script", type:"text/html", At: "Foot", id: "TeamComponent" %}

  {% if teamCaptain.ContentItem.Owner == User | user_id %}
    <v-container fluid>
      <form method="post" action="{{ "~/team/save" | href }}">
        <v-card>
          <v-card-title>
            {{ Model.ContentItem.Content.Team.Name.Text }} {{ "Description" | t }}
          </v-card-title>
          <v-card-text>
            <v-textarea solo name="teamDescription" label="Edit team description" value="{{ Model.ContentItem.Content.Team.Description.Text }}"></v-textarea>
          </v-card-text>
        </v-card>
        
        <v-card>
          <v-card-title>
            {{ "Challenge" | t }}
          </v-card-title>
          <v-card-text>
            <v-select solo label="{{ challengeSelected }}" name="challenge" :items="challenges" item-text="text" item-value="value" value="Select" ></v-select>
          </v-card-text>
        </v-card>  
      
        <v-btn type="submit">{{ "Save" | t }}</v-btn>
        {% antiforgerytoken %}
        <input type="hidden" name="teamContentItemId" value="{{Model.ContentItem.ContentItemId}}">
        <input type="hidden" name="returnUrl" value="{{Request.Path}}">
      </form>
      
      <v-card>
        <v-card-title>{{ "Team Members" | t }}</v-card-title>
        <v-container fluid>
          <v-row>
            {% for teamMember in teamMembers %}
              <v-card>
                <v-card-title>{{ teamMember.DisplayText }}</v-card-title>
                  <form method="post" action="{{ "~/team/remove" | href }}">
                    <v-btn {% if Model.ContentItem.Content.Team.TeamCaptain.ContentItemIds.first == teamMember.ContentItemId %} disabled {% endif %} type="submit">{{ "Remove" | t }}</v-btn>
                    {% antiforgerytoken %}
                    <input type="hidden" name="hackerContentItemId" value="{{teamMember.ContentItemId}}">
                    <input type="hidden" name="teamCaptainId" value="{{teamCaptain.ContentItem.Owner}}">
                    <input type="hidden" name="returnUrl" value="{{Request.Path}}">
                  </form>
              </v-card>
            {% endfor %}
          </v-row>
        </v-container>
      </v-card>
    </v-container>
  {% endif %}
{% endblock %}
