{% assign hacker = Queries.GetHacker | query: owner: User.Identity.Name | first %}

{% if User | is_in_role: "Hacker" %}
  {% if Site.Properties.HackathonCustomSettings.TeamCustomSettings.TeamEditable.Value == true and hacker.TeamContentItemId == null  %}
    {% assign teams = Queries.GetItemsForHackathon | query: type: "Team" %}
    <div {%if Model.Id != null%}id="{{ Model.Id }}"{%endif%} class="{{ Model.Classes | join: ' ' }}">
      <div class="vg-header">
        <h2>{{ "Join a team" | t}}</h2>
      </div>
      <div class="join-team-max-vh-40 overflow-auto join-team-scroller vg-content">
        <ul class="list-group list-group-flush">
        {% for team in teams %}
          {% assign h = Queries.GetHackersForTeam | query: teamContentItemId: team.ContentItemId %}
          {% if h.size < Site.Properties.HackathonCustomSettings.TeamCustomSettings.TeamSize.Value %}
          <li class="list-group-item bg-transparent border-white">
            <div class="row">
              <div class="col flex-start">{{team | display_text}}</div>
              <div class="col">
                  <form method="post" action="{{ "~/team/join" | href }}">
                    <button type="submit" class="btn btn-danger float-right">{{ "Join" | t }}</button>
                    {% antiforgerytoken %}
                    <input type="hidden" name="returnUrl" value="{{Model.Dashboard.Content.AutoroutePart.Path}}">
                    <input type="hidden" name="teamContentItemId" value="{{team.ContentItemId}}">
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="flex-start">{{h.size}}/{{ Site.Properties.HackathonCustomSettings.TeamCustomSettings.TeamSize.Value }}</div>
              </div>
            </li>
            {%endif%}
          
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endif %}