{%comment%}Widget that displays it's content when the user is part of a team{%endcomment%}
{% assign user = User | user_id | users_by_id %}

<div {%if Model.Id != null%}id="{{ Model.Id }}"{%endif%} class="{{ Model.Classes | join: ' ' }}">
    <div class="vg-header">
        <h2>{{ Model.ContentItem | display_text }}</h2>
    </div>
    <div class="vg-content" >
      {% if user == null %}
      {{ Model.Content.TeamFlowDashboardWidget__NoTeamHtml | shape_render }}
      {% else %}
       {{ Model.Content.FlowPart | shape_render }}
       {% endif %}
    </div>
</div>
