@model StatCan.OrchardCore.GitHub.ViewModels.GitHubApiSettingsViewModel
  <div id="TokensEditorWrapper">
    <h3>@T["GitHub Api Settings"]</h3>
    <div class="alert alert-warning" role="alert">
      @T["If you change the name of a token, you might break workflows / liquid filters that use this token name."]
    </div>
    

    <script asp-src="~/StatCan.OrchardCore.GitHub/tokensEditor.min.js" debug-src="~/StatCan.OrchardCore.GitHub/tokensEditor.js" asp-name="tokensEditor" at="Foot" depends-on="vuejs"></script>

    <script at="Foot" depends-on="tokensEditor">
    initializeTokensEditor(document.getElementById('TokensEditorWrapper'), @Html.Raw(Model.ApiTokens));
    </script>

    <script type="text/x-template" id="tokens-table">
      <table class="table table-bordered table-sm tokens-table">
        <thead class="thead">
          <tr>
            <th scope="col">@T["Token name"]</th>
            <th scope="col">@T["Value"]</th>
          </tr>
        </thead>
        <tr v-for="(token, index) in data.tokens" :key="index">
          <td>
            <input type="text" class="form-control" v-model="token.name" placeholder="Enter a name" />
          </td>
          <td>
            <input type="password" class="form-control courrier" v-model="token.value" autocomplete="false" placeholder="Enter a value" />
          </td>
          <td class="text-center">
            <a v-on:click="remove(index)" href="javascript:void(0)" title="@T["Remove token from the list"]" class="btn">
              <i class="fas fa-times"></i>
            </a>
          </td>
        </tr>
        <tfoot>
          <tr>
            <td class="col-sm-12 text-center" colspan="5">
              <a v-on:click="add()" class="btn btn-light w-100 btn-sm"><i class="fas fa-plus small"></i> @T["Add an token"]</a>
              <input class="form-control" id="@Html.IdFor(m => m.ApiTokens)" name="@Html.NameFor(m => m.ApiTokens)" type="hidden" v-bind:value="getTokensFormattedList()" />
            </td>
          </tr>
        </tfoot>
      </table>
    </script>

    <div class="form-group row" asp-validation-class-for="ApiTokens">
      <div class="col-sm-6">
        <label asp-for="ApiTokens">@T["Tokens"]</label>
        <tokens-table :data="sharedState"></tokens-table>
      </div>
    </div>
  </div>
