{% layout "Layout__Login" %}
<h1 class="login">{{ "Email confirmed" | t }}</h1>
<p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login">
    <p>{{ "Thank you for confirming your email." | t }}</p>
    <a href="{{ '~/' | href }}" class="btn btn-lg btn-primary is-rounded">{{ "Home" | t }}</a>
</div>