{% style src:"~/StatCan.OrchardCore.Radar/css/table-row.css" %}

{% assign owner = Model.ContentItem.Owner | users_by_id %}

<tr class="table-row">
    <td class="name-col">{{ Model.ContentItem | display_text }}</td>
    <td class="table-col">
        <div>{{ Model.ContentItem.Content.Event.StartDate.Value | local | date: "%b %d, %Y" }} - {{ Model.ContentItem.Content.Event.EndDate.Value | local | date: "%b %d, %Y" }}</div>
        <div>{{ Model.ContentItem.Content.Event.StartDate.Value | local | date: "%H:%M %p" }} - {{ Model.ContentItem.Content.Event.EndDate.Value | local | date: "%H:%M %p" }}</div>
    </td>
    <td class="table-col">{{ owner.Properties.UserProfile.UserProfile.FirstName.Text }} {{ owner.Properties.UserProfile.UserProfile.LastName.Text }}</td>
    <td class="table-col">
      {% if Model.ContentItem.Published %}
        {{ "Published" | t }}
      {% else %}
        {{ "Draft" | t }}
      {% endif %}
    </td>
</tr>