{% style name:"landing-page-style" %}

{% assign imagePath = Model.ContentItem.Content.LandingPage.HeaderImage.Paths.first %}
<div class="landing-page-header">
    <div class="zigzag zigzag-light">
        <div class="rippleFront" style="background-image: url('{{ "~/StatCan.OrchardCore.Radar/images/ripples-white.svg" | href }}')">
            <div class="header-text">
                <v-container style="max-width: 1200px">
                    <v-row>
                        <v-col md="12">
                            <div class="name light-font text-center">
                                {{ Model.ContentItem | display_text }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="description light-font text-center">
                                {{ Model.ContentItem.Content.LandingPage.Description.Text }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="list">
                                {{ Model.ContentItem.Content.LandingPage.Headerlist.Html | raw }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="header-footer">
                                <v-img
                                    src="{{ "~/StatCan.OrchardCore.Radar/images/canada.svg" | href }}"
                                    max-width="172"
                                    max-height="41"
                                ></v-img>
                                <v-img
                                    src="{{ "~/StatCan.OrchardCore.Radar/images/goc.svg" | href }}"
                                    max-width="293"
                                    max-height="28"
                                ></v-img>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
        </div>
    </div>
</div>

<div class="mb-12">
    <v-container style="max-width: 1200px">
        <v-row>
            <v-col md="12">
                <div class="text-h4 text-center section-title">
                    {{ Model.ContentItem.Content.LandingPage.Activities.Text }}
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0 outlined class="card-background">
                    <v-card-title class="zigzag zigzag-dark">
                        <div class="white--text mb-5">
                            {{ Model.ContentItem.Content.LandingPage.Activity1.Html | raw }}
                        </div>
                    </v-card-title>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card elevation=0 outlined class="card-background">
                    <v-card-title class="zigzag zigzag-dark">
                        <div class="white--text mb-5">
                            {{ Model.ContentItem.Content.LandingPage.Activity2.Html | raw }}
                        </div>
                    </v-card-title>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0 outlined class="card-background">
                    <v-card-title class="zigzag zigzag-dark">
                        <div class="white--text mb-5">
                            {{ Model.ContentItem.Content.LandingPage.Activity3.Html | raw }}
                        </div>
                    </v-card-title>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card elevation=0 outlined class="card-background">
                    <v-card-title class="zigzag zigzag-dark">
                        <div class="white--text mb-5">
                            {{ Model.ContentItem.Content.LandingPage.Activity4.Html | raw }}
                        </div>
                    </v-card-title>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>

<div class="section-background mb-12">
    <v-container style="max-width: 1200px">
        <v-row>
            <v-col md="12">
                <div class="text-h4 text-center section-title">
                    {{ Model.ContentItem.Content.LandingPage.Trends.Text }}
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0 outlined class="card-background">
                    <v-card-title class="zigzag zigzag-dark">
                        <div class="white--text mb-5">
                            {{ Model.ContentItem.Content.LandingPage.Trend1.Html | raw }}
                        </div>
                    </v-card-title>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>

<div class="mb-12">
    <v-container style="max-width: 1200px">
        <v-row justify="space-around">
            <v-col md="4">
                <v-card elevation=0>
                    <div class="white--text text-center front-footer">
                        {{ Model.ContentItem.Content.LandingPage.Userguide.Html | raw }}
                    </div>
                </v-card>
            </v-col>
            <v-col md="4">
                <v-card elevation=0>
                    <div class="white--text text-center front-footer">
                        {{ Model.ContentItem.Content.LandingPage.Contactus.Html | raw }}
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>