{% style src:"~/StatCan.OrchardCore.Radar/css/topic.css" %}
{% style src:"~/StatCan.OrchardCore.Radar/css/details-view.css" %}
{% style src:"~/StatCan.OrchardCore.Radar/css/table.css" %}
{% style src:"~/StatCan.OrchardCore.Radar/css/vue-components.css" %}

{% script src:"/StatCan.OrchardCore.Radar/js/table.js", at:"Head" %}
{% script name:"Radar-vue-components", at:"Foot" %}

{% zone "Header" %}
<div class="details-section">
  <div class="header">
    <v-container>
      <v-row justify="space-between">
        <v-col md="7">
          <div class="title-container">
            <div class="text-h3 name">{{ Model.ContentItem | display_text }}</div>
            <div class="text-body-1 description">
                {{ Model.ContentItem.Content.Topic.Description.Text }}
            </div>
          </div>
        </v-col>
        <v-col md="1">
            <div style="width: 7rem; height: 7rem">
                <v-img
                  src="{{ "icon_topics.svg" | asset_url }}"
                >
                </v-img>
              </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div class="zigzag-container">
    <div class="zigzag zigzag-white"></div>
  </div>
</div>
{% endzone %}

{% assign entities = Queries.TaxonomyEntitiesSQL | query: type: "Topics", id: Model.ContentItem.ContentItemId | list_can_view | current_culture %}

{% assign projects = entities | where: "ContentType", "Project" %}
{% assign communities = entities | where: "ContentType", "Community" %}
{% assign proposals = entities | where: "ContentType", "Proposal" %}
{% assign events = entities | where: "ContentType", "Event" %}

<div class="sections-container">
    <div class="section">
        <tabs>
          <tab slot="tab" title="{{ "Projects" | t }}" icon="mdi-flask-outline" count="{{ projects | size }}">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col" data-type="name">{{ "Name" | t }}</th>
                  <th data-type="date">{{ "Updated" | t }}</th>
                  <th>{{ "Registrar" | t }}</th>
                  <th>{{ "Visibility" | t }}</th>
                  <th data-type="date">{{ "Created" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                  {{ project | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
              </tbody>
            </table>
          </tab>
          <tab slot="tab" title="{{ "Events" | t }}" icon="mdi-calendar" count="{{ events | size }}">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col" data-type="name">{{ "Name" | t }}</th>
                  <th data-type="date-range">{{ "Date" | t }}</th>
                  <th>{{ "Organizer" | t }}</th>
                  <th>{{ "Visibility" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  {{ event | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
              </tbody>
            </table>
          </tab>
          <tab slot="tab" title="{{ "Communities" | t }}" icon="mdi-account-multiple" count="{{ communities | size }}">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col" data-type="name">{{ "Name" | t }}</th>
                  <th data-type="number">{{ "Members" | t }}</th>
                  <th>{{ "Owner" | t }}</th>
                  <th>{{ "Type" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for community in communities %}
                  {{ community | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
              </tbody>
            </table>
          </tab>
          <tab slot="tab" title="{{ "Proposals" | t }}" icon="mdi-alert-circle-outline" count="{{ proposals | size }}">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col" data-type="name">{{ "Name" | t }}</th>
                  <th data-type="date">{{ "Created" | t }}</th>
                  <th>{{ "Visibility" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for proposal in proposals %}
                  {{ proposal | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
              </tbody>
            </table>
          </tab>
        </tabs>
    </div>
</div>

<script type="application/javascript">
window.addEventListener("DOMContentLoaded", function () {
  attachSorter();
});
</script>