{% assign canView = Model.ContentItem | user_can_view %}
{% if canView %}

{% style src:"~/StatCan.OrchardCore.Radar/css/details-view.min.css", debug_src: "~/StatCan.OrchardCore.Radar/css/details-view.css" %}
{% style src:"~/StatCan.OrchardCore.Radar/css/table.min.css", debug_src: "~/StatCan.OrchardCore.Radar/css/table.css" %}
{% style src:"~/StatCan.OrchardCore.Radar/css/table-row.min.css", debug_src: "~/StatCan.OrchardCore.Radar/css/table-row.css" %}

{% assign owner = Model.ContentItem.Owner | users_by_id %}
{% assign communities =  Model.ContentItem.Content.RadarEntityPart.RelatedEntity.ContentItemIds | content_items | list_can_view %}

{% zone "Header" %}
<div class="details-section">
  <div class="header">
    <v-container>
      <v-row justify="space-between">
        <v-col md="7">
          <div class="title-container">
            <div class="text-h3 name">{{ Model.ContentItem | display_text }}</div>
            <div class="text-body-1 description">
                {{ Model.ContentItem.Content.RadarEntityPart.Description.Text }}
            </div>
          </div>
        </v-col>
        <v-col md="1">
            <div style="width: 7rem; height: 7rem">
                <v-img
                  src="{{ "icon_opportunities.svg" | asset_url }}"
                >
                </v-img>
              </div>
        </v-col>
      </v-row>
      <v-row>
          <v-col md="12">
            <v-row>
                <v-col md="4">
                    <div class="icon-cell">
                        <v-icon class="details-attribute-icon">
                            mdi-account-plus
                        </v-icon>
                        <div class="text-h6 icon-text">
                            {{ owner.Properties.UserProfile.UserProfile.FirstName.Text }} {{ owner.Properties.UserProfile.UserProfile.LastName.Text }}
                        </div>
                    </div>
                </v-col>
            </v-row>
          </v-col>
      </v-row>
      <v-row class="topics-container">
          <v-col md="12">
            <div class="topics-list-container">
                {% assign topics = Model.ContentItem.Content.RadarEntityPart.Topics | taxonomy_terms %}
                {% for topic in topics %}
                    {{ topic | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
            </div>
          </v-col>
      </v-row>
    </v-container>
  </div>
  <div class="zigzag-container">
    <div class="zigzag zigzag-white"></div>
  </div>
</div>
{% endzone %}

<div class="sections-container">
    <div class="section">
        <div class="table-title-container">
            <div class="text-h4">
                {{ "Affected Communities" | t }}
            </div>
            <div class="bubble">
                <div class="bubble-text" id="bubble-text">{{ communities | size }}</div>
            </div>
        </div>
        <div class="table-container">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col">{{ "Name" | t }}</th>
                  <th class="table-col">{{ "Members" | t }}</th>
                  <th class="table-col">{{ "Owner" | t }}</th>
                  <th class="table-col">{{ "Type" | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in communities %}
                  {{ item | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        {{ "Workspace" | shape_new: Model: Model.ContentItem.Content.Workspace | shape_render }}
    </div>
</div>

{% else %}
  {{ "NotFound" | shape_new | shape_render }}
{% endif %}
