{% style src:"~/StatCan.OrchardCore.Radar/css/table-row.min.css", debug_src: "~/StatCan.OrchardCore.Radar/css/table-row.css" %}

{% assign organizer = Model.ContentItem.Content.EventOrganizer.ContentItems | first %}

<tr class="table-row">
  <td class="name-col">
    <a href="{{ Model.ContentItem | display_url }}">{{ Model.ContentItem | display_text }}</a>
  </td>
  <td class="table-col">
      <div>{{ Model.ContentItem.Content.Event.StartDate.Value | local | date: "%b %d, %Y" }} - {{ Model.ContentItem.Content.Event.EndDate.Value | local | date: "%b %d, %Y" }}</div>
      <div>{{ Model.ContentItem.Content.Event.StartDate.Value | local | date: "%H:%M %p" }} - {{ Model.ContentItem.Content.Event.EndDate.Value | local | date: "%H:%M %p" }}</div>
  </td>
  <td class="table-col">{{ organizer.DisplayText }}</td>
  <td class="table-col">
    {% if Model.ContentItem.Published %}
      {{ "Published" | t }}
    {% else %}
      {{ "Draft" | t }}
    {% endif %}
  </td>
</tr>