{% style src:"~/StatCan.OrchardCore.Radar/css/table-row.min.css", debug_src: "~/StatCan.OrchardCore.Radar/css/table-row.css" %}

<tr class="table-row">
  <td class="name-col">
    <a href="{{ Model.ContentItem | display_url }}">{{ Model.ContentItem | display_text }}</a>
  </td>
  <td class="table-col">
    {{ Model.ContentItem.CreatedUtc | local | date: "%b %d, %Y" }}
  </td>
    <td class="table-col">
      {% if Model.ContentItem.Published %}
        {{ "Published" | t }}
      {% else %}
        {{ "Draft" | t }}
      {% endif %}
    </td>
</tr>
