{% style src:"~/StatCan.OrchardCore.Radar/css/landing-page.css" %}

{% assign imagePath = Model.ContentItem.Content.LandingPage.HeaderImage.Paths.first %}
<div class="landing-page-header">
    <div>
        <div class="rippleFront" style="background-image: url('{{ "~/StatCan.OrchardCore.Radar/images/ripples-white.svg" | href }}')">
            <div class="header-text">
                <v-container style="max-width: 1200px">
                    <v-row>
                        <v-col md="12">
                            <div class="name light-font text-center">
                                {{ Model.ContentItem | display_text }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="description light-font text-center pr-10 pl-10">
                                {{ Model.ContentItem.Content.LandingPage.Description.Text }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="list">
                                {{ Model.ContentItem.Content.LandingPage.Headerlist.Html | raw }}
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="12">
                            <div class="header-footer mt-7">
                                <v-img
                                    src="{{ "~/StatCan.OrchardCore.Radar/images/goc.svg" | href }}"
                                    max-width="293"
                                    max-height="28"
                                ></v-img>
                                <v-img
                                    src="{{ "~/StatCan.OrchardCore.Radar/images/canada.svg" | href }}"
                                    max-width="172"
                                    max-height="41"
                                ></v-img>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
        </div>
        <div class="zigzag-container">
            <div class="zigzag zigzag-white"></div>
        </div>
    </div>
</div>

<div class="mb-12">
    <v-container style="max-width: 1200px">
        <v-row>
            <v-col md="12">
                <div class="text-h4 text-center section-title">
                    {{ Model.ContentItem.Content.LandingPage.Activities.Text }}
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0>
                    <v-card-title class="card-title" style="padding: 0;">
                        <div class="card-title ml-5 mt-5 mb-8">
                            <v-icon color="white" class="mr-5" style="font-size: 65px;">
                                mdi-flask-outline
                            </v-icon>
                            <div class="white--text">
                                {{ Model.ContentItem.Content.LandingPage.Activity1.Html | raw }}
                            </div>
                        </div>
                        <div class="zigzag-container">
                            <div class="zigzag zigzag-light"></div>
                        </div>
                    </v-card-title>
                    <div class="card-background-light">
                        
                    </div>
                </v-card>
            </v-col>
            <v-col>
                <v-card elevation=0>
                    <v-card-title class="card-title" style="padding: 0;">
                        <div class="card-title ml-5 mt-5 mb-8">
                            <v-icon color="white" class="mr-5" style="font-size: 65px;">
                                mdi-account-multiple
                            </v-icon>
                            <div class="white--text">
                                {{ Model.ContentItem.Content.LandingPage.Activity2.Html | raw }}
                            </div>
                        </div>
                        <div class="zigzag-container">
                            <div class="zigzag zigzag-light"></div>
                        </div>
                    </v-card-title>
                    <div class="card-background-light">
                        
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0>
                    <v-card-title class="card-title" style="padding: 0;">
                        <div class="card-title ml-5 mt-5 mb-8">
                            <v-icon color="white" class="mr-5" style="font-size: 65px;">
                                mdi-calendar
                            </v-icon>
                            <div class="white--text">
                                {{ Model.ContentItem.Content.LandingPage.Activity3.Html | raw }}
                            </div>
                        </div>
                        <div class="zigzag-container">
                            <div class="zigzag zigzag-light"></div>
                        </div>
                    </v-card-title>
                    <div class="card-background-light">
                        
                    </div>
                </v-card>
            </v-col>
            <v-col>
                <v-card elevation=0>
                    <v-card-title class="card-title" style="padding: 0;">
                        <div class="card-title ml-5 mt-5 mb-8">
                            <v-icon color="white" class="mr-5" style="font-size: 65px;">
                                mdi-alert-circle-outline
                            </v-icon>
                            <div class="white--text">
                                {{ Model.ContentItem.Content.LandingPage.Activity4.Html | raw }}
                            </div>
                        </div>
                        <div class="zigzag-container">
                            <div class="zigzag zigzag-light"></div>
                        </div>
                    </v-card-title>
                    <div class="card-background-light">
                        
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>

<div class="section-background pb-12">
    <v-container style="max-width: 1200px">
        <v-row>
            <v-col md="12">
                <div class="text-h4 text-center section-title">
                    {{ Model.ContentItem.Content.LandingPage.Trends.Text }}
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="6">
                <v-card elevation=0>
                    <v-card-title class="card-title" style="padding: 0;">
                        <div class="card-title ml-5 mt-5 mb-8">
                            <v-icon color="white" class="mr-5" style="font-size: 65px;">
                                mdi-pound
                            </v-icon>
                            <div class="white--text">
                                {{ Model.ContentItem.Content.LandingPage.Trend1.Html | raw }}
                            </div>
                        </div>
                        <div class="zigzag-container">
                            <div class="zigzag zigzag-dark"></div>
                        </div>
                    </v-card-title>
                    <div class="card-background-dark">
                        
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>

<div class="mb-12">
    <v-container style="max-width: 1200px">
        <v-row justify="space-around">
            <v-col md="4">
                <v-card elevation=0 to="#">
                    <div class="white--text text-center front-footer pb-6 pt-7">
                        <v-icon color="white" class="mb-5" style="font-size: 120px;">
                            mdi-book-open-variant
                        </v-icon>
                        <div>
                            {{ Model.ContentItem.Content.LandingPage.Userguide.Html | raw }}
                        </div>
                    </div>
                </v-card>
            </v-col>
            <v-col md="4">
                <v-card elevation=0 to="#">
                    <div class="white--text text-center front-footer pb-6 pt-7">
                        <v-icon color="white" class="mb-5" style="font-size: 120px;">
                            mdi-email
                        </v-icon>
                        <div>
                            {{ Model.ContentItem.Content.LandingPage.Contactus.Html | raw }}
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>