{% assign owner = Model.ContentItem.Owner | users_by_id %}

{% zone "Header" %}
<div class="details-section">
  <div class="header">
    <v-container>
      <v-row justify="space-between">
        <v-col md="7">
          <div>
            <div class="text-h3 details-name">{{ Model.ContentItem | display_text }}</div>
            <div class="text-body-1 details-description">
                {{ Model.ContentItem.Content.RadarEntityPart.Description.Text }}
            </div>
          </div>
        </v-col>
        <v-col md="1">
          <v-img
            src="{{ "icon_experiments.svg" | asset_url }}"
            width="112" height="112"
          >
          </v-img>
        </v-col>
      </v-row>
      <v-row>
          <v-col md="12">
            <v-row>
                <v-col md="4">
                    <div class="icon-cell">
                        <v-icon class="details-attribute-icon">
                            mdi-account-plus
                        </v-icon>
                        <div class="text-h6 icon-text">
                            {{ owner.Properties.UserProfile.UserProfile.FirstName.Text }} {{ owner.Properties.UserProfile.UserProfile.LastName.Text }}
                        </div>
                    </div>
                </v-col>
                <v-col md="4">
                    <div class="icon-cell">
                        <v-icon class="details-attribute-icon">
                            mdi-update
                        </v-icon>
                        <div class="text-h6 icon-text">
                            {{ Model.ContentItem.ModifiedUtc | local | date: "%b %d, %Y" }}
                        </div>
                    </div>
                </v-col>
            </v-row>
          </v-col>
      </v-row>
      <v-row class="topics-container">
          <v-col md="12">
            <div class="topics-list-container">
                {% assign topics = Model.ContentItem.Content.RadarEntityPart.Topics | taxonomy_terms %}
                {% for topic in topics %}
                    {{ topic | shape_build_display: "Summary" | shape_render }}
                {% endfor %}
            </div>
          </v-col>
      </v-row>
    </v-container>
  </div>
  <div class="zigzag-container">
    <div class="zigzag zigzag-white"></div>
  </div>
</div>
{% endzone %}

<div class="sections-container">
    <div class="section">
        <div class="table-title-container">
            <div class="text-h4">
                {{ "Contributors" | t }}
            </div>
            <div class="workspace-bubble">
                <div class="workspace-bubble-text">{{ Model.ContentItem.Content.ProjectMember.ContentItems | size | plus: 1 }}</div>
            </div>
        </div>
        <div class="member-table">
            <table class="table" id="entity-table">
              <thead class="table-header">
                <tr>
                  <th class="name-col">{{ "Name" | t }}</th>
                  <th class="table-col">{{ "Role" | t }}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row">
                    <td class="name-col">{{ owner.Properties.UserProfile.UserProfile.FirstName.Text }} {{ owner.Properties.UserProfile.UserProfile.LastName.Text }}</td>
                    <td class="table-col">{{ "Owner" | t }}</th>
                </tr>
                {% assign members = Model.ContentItem.Content.ProjectMember.ContentItems %}
                {% for member in members %}
                    <tr class="table-row">
                        <td class="name-col">{{ member.DisplayText }}</th>
                        <td class="table-col">{{ member.ProjectMember.Role.Text | shortcode }}</th>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        {{ "Workspace" | shape_new: Model: Model.ContentItem.Content.Workspace | shape_render }}
    </div>
</div>