<h1>{{ Model.ContentItem.DisplayText }}</h1>
<h2 class="subheading">{{ Model.ContentItem.Content.Article.Subtitle.Text }}</h2>
<span class="meta">
    {% assign format = "MMMM dd, yyyy" | t %}
    {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
    {{ "Posted by" | t }} <a href="#">{{ Model.ContentItem.Owner }}</a> {{ "on {0}" | t: dateTime | raw }}
</span>

{{ Model.Content.ContentsMetadata | shape_render }}
{{ Model.Content.MarkdownBodyPart | shape_render }}
