<!DOCTYPE html>
<html lang="{{ Culture.Name }}">

  {% assign brand = "alias:brand-" | append: Culture.Name %}
  {% assign header = "ThemeHeader" | shape_new %}
  {% assign footer = "ThemeFooter" | shape_new %}

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="https://unpkg.com/survey-knockout@1.8.20/survey.ko.min.js"></script>
    <link href="https://unpkg.com/survey-knockout@1.8.20/modern.css" type="text/css" rel="stylesheet"/>  

    {{ "ThemeResources" | shape_new | shape_render }}
    {% resources type: "Meta" %}
    <title>{{Content[brand]}}</title>
    {% resources type: "HeadLink" %}    
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
  </head>

  <body id="page-top">
    {{ header | shape_render }}
    <main class="flex-fill" id="bootstrap-main">
      {% render_body %}
      {% render_section "Footer", required: false %}
      {% render_section "Modal", required: false %}
      {{ footer | shape_render }}
    {% resources type: "FootScript" %}
  </body>
</html>
