@model LostPasswordViewModel
@{
  Layout = "";
}

<p>Le français suit.</p>

<p>@T["Hello {0},", Model.User.UserName]</p>

<p>@T["Please <a href=\"{0}\">click here</a> to change your password.", Model.LostPasswordUrl]</p>

<p>@T["Thank you"]</p>

<p>@T["Bonjour {0},", Model.User.UserName]</p>

<p>@T["Veuillez <a href=\"{0}\">cliquer ici</a> afin de changer votre mot de passe.", Model.LostPasswordUrl]</p>

<p>@T["Merci"]</p>