<h1>Hackathon management dashboard</h1>
<div class="container-fluid">
  <div class="row mt-1">
    <div class="mr-1" id="match-teams-button">
      <a asp-action="MatchTeams" asp-controller="Admin" asp-route-area="StatCan.OrchardCore.Candev"
          role="button" class="btn btn-primary btn-md" 
          data-title="@T["Match teams"]"
          data-message="@T["Are you sure you want to run the Team matching algorithm? Running it after the hackathon has started can delete teams."]" 
          data-ok="@T["Yes"]" 
          data-cancel="@T["No"]" 
          data-ok-class="btn-primary" 
          itemprop="RemoveUrl UnsafeUrl">
        @T["Match teams"]
      </a>
    </div>
    <div id="assign-cases-button">
        <a asp-action="AssignCases" asp-controller="Admin" asp-route-area="StatCan.OrchardCore.Candev"
          role="button" class="btn btn-primary btn-md" 
          data-title="@T["Assign cases"]"
          data-message="@T["Are you sure you want to assign random cases to teams?"]" 
          data-ok="@T["Yes"]" 
          data-cancel="@T["No"]" 
          data-ok-class="btn-primary" 
          itemprop="RemoveUrl UnsafeUrl">
       @T["Assign cases"]
      </a>
    </div>
    <div>
      <form class="form-inline" asp-action="SelectNHackers" asp-controller="Admin"  asp-route-area="StatCan.OrchardCore.Candev" method="post">
        <label for="n">@T["Select this many participants: "]</label>
        <input type="number" name="n" value="0">
          <button type="submit" class="btn btn-primary btn-md">
            @T["Select"]
          </button>
        </form>
    </div>
    <div class="mr-1" id="CheckIn-button">
      <a asp-action="CheckIn" asp-controller="Admin" asp-route-area="StatCan.OrchardCore.Candev"
          role="button" class="btn btn-primary btn-md" 
          data-title="@T["Check-In"]"
          data-message="@T["Are you sure you want to run the Check-in process? Running it after the hackathon has started can delete teams."]" 
          data-ok="@T["Yes"]" 
          data-cancel="@T["No"]" 
          data-ok-class="btn-primary" 
          itemprop="RemoveUrl UnsafeUrl">
        @T["Check-in"]
      </a>
    </div>
    <div class="mr-1" id="EliminateTeams-button">
      <a asp-action="EliminateTeams" asp-controller="Admin" asp-route-area="StatCan.OrchardCore.Candev"
          role="button" class="btn btn-primary btn-md"
          data-title="@T["Eliminate Teams"]"
          data-message="@T["Are you sure you want to run the Eliminate Teams process?"]"
          data-ok="@T["Yes"]" 
          data-cancel="@T["No="]" 
          data-ok-class="btn-primary"
          itemprop="RemoveUrl UnsafeUrl">
        @T["Eliminate Teams"]
      </a>
    </div>
  </div>
</div>
