{% comment %} Assumption that we only support two cultures: EN and FR {% endcomment %}
{% for culture in Model.SupportedCultures %}
    {% if culture.Name != Model.CurrentCulture.Name %}
        {% capture targetCultureLongName %}{% if culture.Name contains 'fr' %}Français{% else %}English{% endif %}{% endcapture %}
        {% capture targetCultureUrl %}{{ culture.Name | switch_culture_url }}{% endcapture %}
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon href="{{ targetCultureUrl }}" lang="{{culture.Name}}" aria-label="{{targetCultureLongName}}" v-on="on">
               {{ culture.Name }}
            </v-btn>
          </template>
          <span>{{"Switch to" | t}} {{targetCultureLongName}}</span>
        </v-tooltip>
    {% endif %}
{% endfor %}
