@using StatCan.OrchardCore.AjaxForms.Models
@{
  var button = ((ContentItem)Model.ContentItem).As<FormButton>();
  var name = button.Name.Text;
  var type = button.Type.Text;
  var label = button.Label.Text;
  var disableOnSubmit = button.DisableOnSubmit?.Value == true;
  var className = button.CssClass.Text ?? "btn btn-primary form-group";
}
<button name="@name" type="@type" class="@className" data-disable-submit="@disableOnSubmit.ToString().ToLower()">@label</button>