{% layout "Layout__Login" %}
<h1 class="login">{{ "Check your email!" | t }}</h1>
<p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login">
    <p>{{ "Please check your email to reset your password." | t }}</p>
</div>