<h1 class="login text-center">{{ "Forgot password" | t }}</h1>
<p class="login text-center h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login row justify-content-center">
    <div class="flex-fill col-lg-4 col-md-6 col-12">
        <section class="section-panel">
            <h2 class="text-center">{{ "vLab account" | t }}</h2>
            {% form asp_controller:"ResetPassword", asp_action:"ForgotPassword", method:"post", class:"form-horizontal" %}
                <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
                    {% block "label", asp_for:"UserIdentifier", class:"asterix" %}{{ "Enter your email or username to reset password." | t }}{% endblock %}
                    {% helper "input", asp_for:"UserIdentifier", class:"form-control", aria_describedby:"UserIdentifier-described-by" %}
                    {% helper "span", id:"UserIdentifier-described-by", asp_validation_for:"UserIdentifier", class:"text-danger" %}
                </div>                    
                <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
                    <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Submit" | t }}</button>
                </div>
            {% endform %}
        </section>
    </div>
</div>