{% assign title = "Forgot password" | t %}
{% assign subtitle = "Recover vLab account" | t %}
{% assign prompt = "Things happen, it's ok" | t %} <!-- the user already feels crappy, might as well make them laugh-->

{{ "SharedLoginHeader" | shape_new: title: title, subtitle: subtitle, prompt: prompt | shape_render }}
{% form asp_controller:"ResetPassword", asp_action:"ForgotPassword", method:"post" %}
    <div class="form-group d-flex flex-column align-items-center justify-content-center">
        {% block "label", asp_for:"UserIdentifier", class:"asterix" %}{{ "Email or username" | t }}{% endblock %}
        {% helper "input", asp_for:"UserIdentifier", class:"form-control", aria_describedby:"UserIdentifier-described-by" %}
        {% helper "span", id:"UserIdentifier-described-by", asp_validation_for:"UserIdentifier", class:"text-danger" %}
    </div>
    <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
        <p class="text-center">{{ "A recovery link will be sent to the email address tied to your account." | t }}</p>
    </div>
    <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Send recovery email" | t }}</button>
    </div>
    <p class="text-center mt-5"><a href="https://digital.statcan.gc.ca/#contact">{{ "If you can't access the inbox tied to your account, see if we can help." | t }}</a></p>
{% endform %}
{{ "SharedLoginFooter" | shape_new | shape_render }}