@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<h1 class="login text-center">@T["Forgot password"]</h1>
<p class="login text-center h4"><a href="~/"><i class="icon fas fa-cubes <!-- TODO: BB How do we reference this in liquid? {{ Model.ContentItem.Content.Hero.Icon.Text }}-->"></i> @(Site.SiteName)</a></p>

<div class="login row justify-content-center">
    <div class="flex-fill col-lg-4 col-md-6 col-12">
        <section class="section-panel">
            <h2 class="text-center">@T["vLab account"]</h2>
            <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
                    <label asp-for="UserIdentifier" class="asterix">@T["Enter your email or username to reset password."]</label>
                    <input asp-for="UserIdentifier" class="form-control" aria-describedby="UserIdentifier-described-by" />
                    <span id="UserIdentifier-described-by" asp-validation-for="UserIdentifier" class="text-danger"></span>
                </div>                    
                @await RenderSectionAsync("AfterForgotPassword", required: false)
                <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
                    <button type="submit" class="btn btn-primary">@T["Submit"]</button>
                </div>
            </form>
        </section>
    </div>
</div>