{% assign title = "Reset password" | t %}
{% assign subtitle = "vLab account security" | t %}
{% assign prompt = "New password, new beginning" | t %} <!-- the user already feels crappy, might as well make them laugh-->

{{ "SharedLoginHeader" | shape_new | shape_properties: title: title, subtitle: subtitle, prompt: prompt | shape_render }}
{% form asp_controller:"ResetPassword", asp_action:"ResetPassword", method:"post" %}
    {% helper "div", for: "Text", class: "form-control" %}
    {% helper "div", asp_validation_summary: "ModelOnly", class: "text-danger" %}
    
    <div class="form-group">
        {% block "label", asp_for: "Email", class: "control-label asterix" %}{{ "Confirm email" | t }}{% endblock %}
        {% helper "input", asp_for: "Email", class:"form-control", aria_describedby:"Email-described-by" %}
        {% helper "span", id:"Email-described-by", asp_validation_for:"Email", class:"text-danger" %}
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {% block "label", asp_for: "NewPassword", class: "asterix control-label" %}{{ "New password" | t }}{% endblock %}
                {% helper "input", asp_for: "NewPassword", class:"form-control", aria_describedby:"NewPassword-described-by" %}
            </div>
            <div class="form-group">
                {% block "label", asp_for: "PasswordConfirmation", class: "asterix control-label" %}{{ "Confirm new password" | t }}{% endblock %}
                {% helper "input", asp_for: "PasswordConfirmation", class:"form-control", aria_describedby:"PasswordConfirmation-described-by" %}
                {% helper "span", id:"PasswordConfirmation", asp_validation_for:"PasswordConfirmation", class:"text-danger" %}
            </div>
        </div>
        <div class="col-6 d-flex align-items-center">
            {{ "SharedPasswordRequirementText" | shape_new | shape_render }}
        </div>
    </div>
    
    {% render_section "AfterResetPassword", required: false %}
    {% helper "input", asp_for:"ResetToken", type:"hidden" %}
    <div class="form-group d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Reset password" | t }}</button>
    </div>
{% endform %}
{{ "SharedLoginFooter" | shape_new | shape_render }}
