{% assign title = "Reset password" | t %}
{{ "SharedLoginHeader" | shape_new | shape_properties: title: title | shape_render }}
{% form asp_controller:"ResetPassword", asp_action:"ResetPassword", method:"post" %}
    {% helper "div", for: "Text", class: "form-control" %}
    {% helper "div", asp_validation_summary: "All", class: "text-danger" %}
    <div class="form-group">
        {% block "label", asp_for: "Email", class: "control-label asterix" %}{{ "Email" | t }}{% endblock %}
        {% helper "input", asp_for: "Email", class:"form-control", aria_describedby:"Email-described-by" %}
        {% helper "span", id:"Email-described-by", asp_validation_for:"Email", class:"text-danger" %}
    </div>
    <div class="form-group">
        {% block "label", asp_for: "NewPassword", class: "asterix control-label" %}{{ "New password" | t }}{% endblock %}
        {% helper "input", asp_for: "NewPassword", class:"form-control", aria_describedby:"NewPassword-described-by" %}
        <div id="NewPassword-described-by" >
          {% helper "span", asp_validation_for:"NewPassword", class:"text-danger" %}
          <small class="form-text text-muted">{{ "Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, a number and a special character" | t }}</small>
        </div>
    </div>
    <div class="form-group">
        {% block "label", asp_for: "PasswordConfirmation", class: "asterix control-label" %}{{ "New password confirmation" | t }}{% endblock %}
        {% helper "input", asp_for: "PasswordConfirmation", class:"form-control", aria_describedby:"PasswordConfirmation-described-by" %}
        {% helper "span", id:"PasswordConfirmation", asp_validation_for:"PasswordConfirmation", class:"text-danger" %}
    </div>
    {% render_section "AfterResetPassword", required: false %}
    {% helper "input", asp_for:"ResetToken", type:"hidden" %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ "Reset password" | t }}</button>
    </div>
{% endform %}
{{ "SharedLoginFooter" | shape_new | shape_render }}
