{% layout "Layout__Login" %}
<h1 class="login">{{ "Password reset" | t }}</h1>
<p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
<div class="login">
    <p>{{ "Your password has been reset." | t }}</p>
    <a href="{{ '~/login' | href }}" class="btn btn-lg btn-primary is-rounded">{{ "Login" | t }}</a>
</div>