{% assign title = "Password reset" | t %}
{{ "SharedLoginHeader" | shape_new | shape_properties: title: title | shape_render }}
<div class="d-flex justify-content-center">
    <p class="text-center">{{ "Your password has been reset." | t }}</p>
    <a href="{{ '~/login' | href }}" class="btn btn-lg btn-primary is-rounded">{{ "Login" | t }}</a>
</div>
{{ "SharedLoginFooter" | shape_new | shape_render }}