{% assign data = Model.Data | jsonparse %}
{% assign title = Model.Title %}
{% assign deviceBrandContent = Model.DeviceBrandContent %}
{% assign deviceBrowserContent = Model.DeviceBrowserContent %}
{% assign deviceBrowserEngineContent = Model.DeviceBrowserEngineContent  %}
{% assign deviceBrowserVersionContent = Model.DeviceBrowserVersionContent  %}
{% assign deviceModelContent = Model.DeviceModelContent %}
{% assign deviceOSFamilyContent = Model.DeviceOSFamilyContent %}
{% assign deviceOSVersionContent = Model.DeviceOSVersionContent %}
{% assign deviceTypeContent = Model.DeviceTypeContent %}

{% assign deviceBrand = data[0].content | jsonparse %}
{% assign deviceBrowser = data[1].content | jsonparse %}
{% assign deviceBrowserEngine = data[2].content | jsonparse %}
{% assign deviceBrowserVersion = data[3].content | jsonparse %}
{% assign deviceModel = data[4].content | jsonparse %}
{% assign deviceOSFamily = data[5].content | jsonparse %}
{% assign deviceOSVersion = data[6].content | jsonparse %}
{% assign deviceType = data[7].content | jsonparse %}

<div style="margin:20px">
    <div class="font-semibold text-xl text-gray-700 px-10">{{title}}</div>
    <div class="space-y-7">
        <canvas id="deviceBrand" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceBrowser" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceBrowserEngine" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceBrowserVersion" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceModel" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceOSFamily" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceOSVersion" class="w-5 max-h-96 px-10"></canvas>
        <canvas id="deviceType" class="w-5 max-h-96 px-10"></canvas>
    </div>
  </div>
  
  {% block "script", at: "Foot", depends-on:  "chartJS" %}
  {% if deviceBrandContent == true %}
  new Chart(document.getElementById("deviceBrand"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceBrand %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrand %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrand %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrand %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrand %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Brand'
        }
    }
    }
  });
  {% endif %}

  {% if deviceBrowserContent == true %}
  new Chart(document.getElementById("deviceBrowser"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceBrowser %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowser %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowser %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowser %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowser %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser'
        }
    }
    }
  });
  {% endif %}

  {% if deviceBrowserEngineContent == true %}
  new Chart(document.getElementById("deviceBrowserEngine"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceBrowserEngine %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowserEngine %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowserEngine %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowserEngine %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowserEngine %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser Engine'
        }
    }
    }
  });
  {% endif %}

  {% if deviceBrowserVersionContent == true %}
  new Chart(document.getElementById("deviceBrowserVersion"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceBrowserVersion %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowserVersion %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowserVersion %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowserVersion %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowserVersion %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser Version'
        }
    }
    }
  });
  {% endif %}

  {% if deviceModelContent == true %}
  new Chart(document.getElementById("deviceModel"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceModel %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceModel %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceModel %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceModel %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceModel %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Model'
        }
    }
    }
  });
  {% endif %}

  {% if deviceOSFamilyContent == true %}
  new Chart(document.getElementById("deviceOSFamily"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceOSFamily %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceOSFamily %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceOSFamily %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceOSFamily %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceOSFamily %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device OS Family'
        }
    }
    }
  });
  {% endif %}

  {% if deviceOSVersionContent == true %}
  new Chart(document.getElementById("deviceOSVersion"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceOSVersion %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceOSVersion %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceOSVersion %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceOSVersion %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceOSVersion %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device OS Version'
        }
    }
    }
  });
  {% endif %}

  {% if deviceTypeContent == true %}
  new Chart(document.getElementById("deviceType"), {
    type: 'line',
    data: {
      labels: [{% for label in deviceType %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceType %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceType %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceType %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceType %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Type'
        }
    }
    }
  });
  {% endif %}
  {% endblock %}