{% assign data = Model.Data | jsonparse %}
{% assign title = Model.Title %}

{% assign deviceBrand = data[0].content | jsonparse %}
{% assign deviceBrowser = data[1].content | jsonparse %}
{% assign deviceBrowserEngine = data[2].content | jsonparse %}
{% assign deviceBrowserVersion = data[3].content | jsonparse %}
{% assign deviceModel = data[4].content | jsonparse %}
{% assign deviceOSFamily = data[5].content | jsonparse %}
{% assign deviceOSVersion = data[6].content | jsonparse %}
{% assign deviceType = data[7].content | jsonparse %}

<div style="margin:20px">
  <div class="font-semibold text-xl text-gray-700 px-10">{{ title }} </div>
      <div class="p-10 place-items-center">
        <div class="w-2/5 flex p-10 ">
          <canvas id="deviceBrand"></canvas>
          <canvas id="deviceBrowser" ></canvas>
        </div>
        <div class="w-2/5 flex p-10">
          <canvas id="deviceBrowserEngine"></canvas>
          <canvas id="deviceBrowserVersion"></canvas>
        </div>
        <div class="w-2/5 flex p-10">
          <canvas id="deviceModel"></canvas>
          <canvas id="deviceOSFamily"></canvas>
        </div>
        <div class="w-2/5 flex p-10">
          <canvas id="deviceOSVersion"></canvas>
          <canvas id="deviceType"></canvas>
        </div>
      </div>
    </div> 
  
  {% block "script", at: "Foot", depends-on:  "chartJS" %}
  
  new Chart(document.getElementById("deviceBrand"), {
    type: 'doughnut',
    data: {
      labels: [{% for label in deviceBrand %}
                '{{label.label}}',
              {%endfor%}],      
      datasets: [
      {
        type: 'doughnut',
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrand %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrand %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrand %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrand %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Brand'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceBrowser"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceBrowser %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowser %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowser %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowser %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowser %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceBrowserEngine"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceBrowserEngine %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowserEngine %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowserEngine %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowserEngine %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowserEngine %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser Engine'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceBrowserVersion"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceBrowserVersion %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceBrowserVersion %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceBrowserVersion %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceBrowserVersion %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceBrowserVersion %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Browser Version'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceModel"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceModel %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceModel %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceModel %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceModel %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceModel %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Model'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceOSFamily"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceOSFamily %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceOSFamily %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceOSFamily %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceOSFamily %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceOSFamily %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device OS Family'
        }
    }
    }
  });
  
  new Chart(document.getElementById("deviceOSVersion"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceOSVersion %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceOSVersion %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceOSVersion %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceOSVersion %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceOSVersion %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device OS Version'
        }
    }
    }
  });

  new Chart(document.getElementById("deviceType"), {
    type: 'pie',
    data: {
      labels: [{% for label in deviceType %}
                '{{label.label}}',
              {%endfor%}],
      datasets: [
      {
        label: "Number of Visits",
        backgroundColor: "pink",
        data: [ {% for nbVisits in deviceType %}
        '{{nbVisits.nb_visits}}',
       {% endfor %} ]
      },
      {
        label: "Number of Actions",
        backgroundColor: "lightblue",
        data: [ {% for nbActions in deviceType %}
        '{{nbActions.nb_actions}}',
       {% endfor %} ]
      },
      {
        label: "Sum of Daily Users",
        backgroundColor: "lightgreen",
        data: [ {% for sumDailyUsers in deviceType %}
        '{{sumDailyUsers.sum_daily_nb_users}}',
       {% endfor %} ]
      },
      {
        label: "Sum of daily Visitors",
        backgroundColor: "yellow",
        data: [ {% for sumDailyVisitors in deviceType %}
        '{{sumDailyVisitors.sum_daily_nb_uniq_visitors}}',
       {% endfor %} ]
      }
    ]
    },
    options: {
      plugins: {
        title: {
            display: true,
            text: 'Device Type'
        }
    }
    }
  });
  {% endblock %}