
@model StatCan.OrchardCore.AjaxForms.Workflows.AjaxFormSubmittedEventViewModel

<div class="form-group" asp-validation-class-for="SelectedFormIds">
  <label asp-for="SelectedFormIds">@T["AjaxForms"]</label>
  <div class="row">
    @for (var i = 0; i < Model.AllItems.Count; i++)
    {
      var item = Model.AllItems[i];
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="@Html.IdFor(m => m.AllItems[i])" name="@Html.NameFor(m => m.AllItems)" checked="@item.Selected" value="@item.Value">
          <label class="custom-control-label" for="@Html.IdFor(m => m.AllItems[i])">@item.Text</label>
        </div>
      </div>
    }
  </div>
  <span asp-validation-for="SelectedFormIds"></span>
  <span class="hint">@T["Select the forms for which this workflow runs"]</span>
</div>
