<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {{ "CommonLayoutResources" | shape_new | shape_render }}
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
    {% resources type: "HeadScript" %}
  </head>
  <body id="page-top" dir="{{ Culture.Dir }}">
    <a class="sr-only sr-only-focusable text-center" href="#content">{{ "Skip to main content" | t }}</a>
    {% render_section "Header", required: false %}
    <div class="container messages-wrapper">
      {% render_section "Messages", required: false %}
    </div>
    <div id="content">
      {% render_section "Content" %}
    </div>
    {% render_section "Footer", required: false %}
    {% resources type: "FootScript" %}
  </body>
</html>
