<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {{ "CommonLayoutResources" | shape_new | shape_render }}
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
    {% resources type: "HeadScript" %}
  </head>
  <body dir="{{ Culture.Dir }}">
    <div id="page-top" v-cloak>
      <v-app>
        <!-- Style this absolute in the middle, on top of app-bar -->
        <a class="d-sr-only-focusable" href="#main">{{ "Skip to main content" | t }}</a>
        <v-navigation-drawer app v-model="drawer">
          <template #prepend>
            <v-toolbar
            class="v-bar--underline"
            flat
          >
          {%if Site.Properties.HackathonThemeSettings.HackathonThemeSettings.Logo.Paths.first != null %}
            <v-list-item class="pa-0 mx-n1 justify-center">
              <a href="{{ '~/' | href }}">
              
                <img
                  src="{{Site.Properties.HackathonThemeSettings.HackathonThemeSettings.Logo.Paths.first | asset_url | resize_url: width:160, height:160 }}"
                  max-width="148"
                  width="148"
                />
              </a>
            </v-list-item>
            {%endif%}
          </v-toolbar>
          </template>
          <v-divider></v-divider>
          {% assign drawerAlias = "alias:navigation-drawer-" | append: Culture.Name %}
          {% shape "menu", alias: drawerAlias, cache_id: drawerAlias, cache_fixed_duration: "00:00:01", cache_tag: menuAlias %}
        </v-navigation-drawer>
        <v-app-bar app>
          <v-app-bar-nav-icon class="hidden-lg-and-up" @click="drawer = !drawer"></v-app-bar-nav-icon>
          <v-spacer></v-spacer>
          {{ "UserMenu" | shape_new | shape_render }}
         {{ "ContentCulturePicker" | shape_new | shape_render }}
        </v-app-bar>
        <v-main id="main">
          {% render_section "Header", required: false %}
          {% render_section "Messages", required: false %}
          {% render_section "Breadcrumbs", required: false %}
          {% render_body %}
        </v-main>
        <v-footer app padless>
          {% render_section "Footer", required: false %}
        </v-footer>
      </v-app>
    </div>
    {% resources type: "FootScript" %}
  </body>
</html>
