<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {{ "CommonLayoutResources" | shape_new | shape_render }}
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
    {% resources type: "HeadScript" %}
  </head>
  <body dir="{{ Culture.Dir }}">
    <div id="page-top" v-cloak>
      <v-app light="false">
        <!-- Style this absolute in the middle, on top of app-bar -->
        <a class="d-sr-only-focusable" href="#main">{{ "Skip to main content" | t }}</a>
        {% render_section "NavigationDrawer", required: false %}
        {% render_section "Header", required: false %}
        <v-main id="main">
          {% render_section "Messages", required: false %}
          {% render_section "Breadcrumbs", required: false %}
          {% render_body %}
        </v-main>
        <v-footer app padless>
          {% render_section "Footer", required: false %}
        </v-footer>
      </v-app>
    </div>
    {% resources type: "FootScript" %}
  </body>
</html>
