{% assign formReference = Model.Content[Model.ContentItem.Content.RegistrationFormReference.PartName.Text] %}
{% assign formContentItem = formReference.Form.ContentItemIds | content_item_id | first %}

<div {%if Model.Id != null%}id="{{ Model.Id }}"{%endif%} class="{{ Model.Classes | join: ' ' }}">
  {% if formReference.Enabled.Value != true %}
  {{ formReference.DisabledHtml.Html | liquid | sanitize_html | raw }}
  {% elsif User.Identity.Name == null %}
    {% assign currentUrl = Request.Path | url_encode %}
    {{formReference.FormHeader.Html | liquid | sanitize_html | raw}}
    <div class="d-flex align-items-start text-center"> 
      <div class="py-5">
        <p>{{"I already have an account." | t}}</p>
        <a class="btn btn-outline-primary text-uppercase" href="{{'~/login?ReturnUrl=' | append: currentUrl | href }}"><span>{{"Login"| t}}</span></a>
      </div>
      <div class="p-5">
        <p>{{"It's my first time here!" | t}}</p>
        <a class="btn btn-primary text-uppercase" href="{{'~/Register?ReturnUrl='| append: currentUrl | href }}"><span>{{"Create a new account" | t}}</span></a>
      </div>
    </div>
  {% elsif Model.Participant != null %}
    {% if Model.Participant.Content.ParticipantPart.Selected.Value == true %}
    {{ Model.Hackathon.Content.Hackathon.SelectedHtml.Html | liquid | sanitize_html | raw }}
    {% else %}
    {{ Model.Hackathon.Content.Hackathon.AppliedHtml.Html | liquid | sanitize_html | raw }}
    {% endif %}
  {% elsif formReference.Enabled.Value == true and formContentItem != null %}
    {{formReference.FormHeader.Html | liquid | sanitize_html | raw}}
    {{ formContentItem | shape_build_display | clone_properties: Model | shape_render }}   
  {% endif %}
</div>