@model IEnumerable<dynamic>

@if(User.Identity.IsAuthenticated)
{
  <style asp-src="~/StatCan.OrchardCore.Radar/css/list-view.min.css" debug-src="~/StatCan.OrchardCore.Radar/css/list-view.css"></style>
  <style asp-src="~/StatCan.OrchardCore.Radar/css/table.min.css" debug-src="~/StatCan.OrchardCore.Radar/css/table.css"></style>

  <script asp-src="~/StatCan.OrchardCore.Radar/js/table.min.js" debug-src="~/StatCan.OrchardCore.Radar/js/table.js" at="Head"></script>

  <zone name="Header">
    <div class="details-section">
      <div class="list-header">
        <v-container>
          <v-row justify="space-between">
            <v-col md="4">
              <div class="title-container">
                <div class="text-h2 list-title">@T["Projects"]</div>
                <div class="bubble">
                  <div class="bubble-text" id="bubble-text">
                    @Model.Count()
                  </div>
                </div>
              </div>
              <div class="search-container">
                <v-icon class="search-icon">
                  mdi-magnify
                </v-icon>
                <form id="search-form" asp-controller="List" asp-action="Search" method="post" autocomplete="off">
                  <input class="search-input" id="search-input" inputmode="search" type="search" name="searchText"
                    value=@ViewData["searchText"]>
                  <input type="text" name="type" value="Projects" style="display:none" />
                  <input type="submit" style="display:none" />
                </form>
                <v-btn elevation="0" icon id="search-clear-button">
                  <v-icon>
                    mdi-close
                  </v-icon>
                </v-btn>
              </div>
            </v-col>
            <v-col md="1">
              <div style="width: 7rem; height: 7rem">
                <v-img src=@Orchard.AssetUrl("icon_experiments.svg")>
                </v-img>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </div>
      <div class="zigzag-container">
        <div class="zigzag zigzag-white"></div>
      </div>
    </div>
  </zone>

  <div class="table-container">
    <table class="table" id="entity-table">
      <thead class="table-header">
        <tr>
          <th class="name-col" data-type="name">@T["Name"]</th>
          <th data-type="date">@T["Updated"]</th>
          <th>@T["Registrar"]</th>
          <th>@T["Visibility"]</th>
          <th data-type="date">@T["Created"]</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var shape in Model)
        {
          @if(shape.Properties["ContentItem"].Content.LocalizationPart.Culture == "en") 
          {
            @await DisplayAsync(shape)
          }
        }
      </tbody>
    </table>
  </div>
}
else
{
  <shape type="NotFound" />
}