@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<h1>@T["Reset password"]</h1>
<form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label asterix">@T["Email"]</label>
        <input class="form-control" asp-for="Email" aria-describedby="Email-described-by"  />
        <span id="Email-described-by" asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="asterix control-label">@T["New password"]</label>
        <input asp-for="NewPassword" class="form-control" aria-describedby="NewPassword-described-by" />
        <div id="NewPassword-described-by" >
          <span asp-validation-for="NewPassword" class="text-danger"></span>
          <small class="form-text text-muted">@T["Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, a number and a special character"]</small>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="asterix control-label">@T["New password confirmation"]</label>
        <input asp-for="PasswordConfirmation" class="form-control" aria-describedby="PasswordConfirmation-described-by" />
        <span id="PasswordConfirmation-described-by" asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    @await RenderSectionAsync("AfterResetPassword", required: false)
    <input asp-for="ResetToken" type="hidden" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@T["Reset password"]</button>
    </div>
</form>