@using Cysharp.Text
@using Microsoft.AspNetCore.Razor.TagHelpers
@using OrchardCore.ContentManagement
@using OrchardCore.Flows.Models
@using System.Globalization
@using StatCan.OrchardCore.VueForms.Models
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor updateModelAccessor

@{
  var contentItem = ((ContentItem)Model.ContentItem);
  var formPart = contentItem.As<VueForm>();
  var scripts = contentItem.As<VueFormScripts>();

  var initScript = await Orchard.LiquidShortcodesAsync(scripts.ClientInit?.Text, (object)Model);
  var options = await Orchard.LiquidShortcodesAsync(scripts.ComponentOptions?.Text, (object)Model);
  var template = await Orchard.ShapeStringify((IShape)(await New.VueFormWrapperTemplate(ContentItem: contentItem)));
}

<style asp-name="vue-forms"></style>
<script asp-name="vue-forms" at="Foot"></script>

<div class="vue-form" 
  data-name="@Model.Properties["ComponentName"]" 
  data-init-script="@Orchard.B64Encode(initScript)" 
  data-options="@Orchard.B64Encode(options)" 
  data-lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" 
  data-template="@Orchard.B64Encode(template)"> 
  >
</div>
